<html>

<head>


</head>

<body>

    <script>

var countyCodes = {
228:"Aberconwy and Colwyn",
301:"Aberdeenshire",
201:"Anglesey",
302:"Angus",
501:"Antrim",
303:"Argyllshire",
502:"Armagh",
141:"Avon",
304:"Ayrshire",
305:"Banffshire",
101:"Bedfordshire",
507:"Belfast",
102:"Berkshire",
306:"Berwickshire",
224:"Blaenau Gwent",
335:"Borders",
202:"Brecknockshire",
230:"Bridgend",
103:"Buckinghamshire",
307:"Buteshire",
203:"Caernarfonshire",
225:"Caerphilly",
309:"Caithness",
104:"Cambridgeshire",
231:"Cardiff",
205:"Cardiganshire",
401:"Carlow",
204:"Carmarthenshire",
402:"Cavan",
336:"Central",
142:"Channel Islands",
105:"Cheshire",
310:"Clackmannanshire",
403:"Clare",
143:"Cleveland",
214:"Clwyd",
222:"Conwy",
404:"Cork",
106:"Cornwall",
308:"Cromartyshire",
107:"Cumberland",
144:"Cumbria",
206:"Denbighshire",
108:"Derbyshire",
405:"Derry",
109:"Devon",
406:"Donegal",
110:"Dorset",
503:"Down",
407:"Dublin",
337:"Dumfries and Galloway",
311:"Dumfriesshire",
312:"Dunbartonshire",
338:"Dundee",
111:"Durham",
215:"Dyfed",
313:"East Lothian",
145:"East Sussex",
339:"Edinburgh",
112:"Essex",
504:"Fermanagh",
314:"Fife",
207:"Flintshire",
408:"Galway",
208:"Glamorgan",
340:"Glasgow",
113:"Gloucestershire",
341:"Grampian",
140:"Greater London",
146:"Greater Manchester",
216:"Gwent",
217:"Gwynedd",
114:"Hampshire",
115:"Herefordshire",
116:"Hertfordshire",
342:"Highland",
147:"Humberside",
117:"Huntingdonshire",
315:"Inverness-shire",
148:"Isle of Man",
149:"Isles of Scilly",
118:"Kent",
409:"Kerry",
410:"Kildare",
411:"Kilkenny",
316:"Kincardineshire",
317:"Kinross-shire",
318:"Kirkcudbrightshire",
319:"Lanarkshire",
119:"Lancashire",
416:"Laois",
351:"Leicester",
120:"Leicestershire",
412:"Leitrim",
413:"Limerick",
121:"Lincolnshire",
506:"Londonderry",
414:"Longford",
343:"Lothian",
415:"Louth",
417:"Mayo",
418:"Meath",
209:"Merioneth",
150:"Merseyside",
232:"Merthyr Tydfil",
218:"Mid Glamorgan",
122:"Middlesex",
320:"Midlothian",
427:"Monaghan",
210:"Monmouthshire",
211:"Montgomeryshire",
321:"Morayshire",
322:"Nairnshire",
235:"Neath and Port Talbot",
348:"Newcastle",
226:"Newport",
123:"Norfolk",
151:"North Yorkshire",
124:"Northamptonshire",
125:"Northumberland",
350:"Nottingham",
126:"Nottinghamshire",
419:"Offaly",
323:"Orkney",
127:"Oxfordshire",
324:"Peeblesshire",
212:"Pembrokeshire",
347:"Perth and Kinross",
325:"Perthshire",
219:"Powys",
213:"Radnorshire",
349:"Reading",
326:"Renfrewshire",
233:"Rhondda Cynon Taff",
420:"Roscommon",
327:"Ross-shire",
328:"Roxburghshire",
128:"Rutland",
329:"Selkirkshire",
330:"Shetland",
129:"Shropshire",
421:"Sligo",
130:"Somerset",
220:"South Glamorgan",
152:"South Yorkshire",
131:"Staffordshire",
331:"Stirlingshire",
344:"Strathclyde",
132:"Suffolk",
133:"Surrey",
332:"Sutherland",
236:"Swansea",
345:"Tayside",
422:"Tipperary",
227:"Torfaen",
153:"Tyne and Wear",
505:"Tyrone",
234:"Vale of Glamorgan",
135:"Warwickshire",
423:"Waterford",
221:"West Glamorgan",
333:"West Lothian",
154:"West Midlands",
155:"West Sussex",
156:"West Yorkshire",
346:"Western Isles",
424:"Westmeath",
136:"Westmorland",
425:"Wexford",
426:"Wicklow",
334:"Wigtownshire",
137:"Wiltshire",
138:"Worcestershire",
223:"Wrexham"};

var countyCode = Object.keys(countyCodes).find(key => countyCodes[key] === "Wrexham");

export { countyCode };

</script>

"Leeds","Nottingham","Leicester ","Stoke","Coventry","Birmingham","Peterborough","Essex","Oxford","Reading","Luton","London","Manchester ","Bristol","Southampton","Gloucester","Portsmouth","Hull","Northampton","Sheffield","Bournemouth","Brighton","Wolverhampton","Hertfordshire","Worcester",
</body>
</html>