<html>

<head>
  <script data-ad-client="ca-pub-5395995593492894" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title><%= title %>;</title>
  <!-- Event snippet for SignupJobgrabba.com conversion page -->
  <script>
    gtag('event', 'conversion', { 'send_to': 'AW-721106018/rsRaCL3bqasBEOLo7NcC' });
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-147951644-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-147951644-1');
  </script>
  
  <!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
     fbq('init', '280892588917611'); 
    fbq('track', 'PageView');
    fbq('track', 'Lead2ndpage');
    </script>
    <noscript>
     <img height="1" width="1" 
    src="https://www.facebook.com/tr?id=280892588917611&ev=PageView
    &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
 
  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
  <!-- fetch jobs -->
  <script>
  //  var jC = localStorage.getItem('textvalue');
  //  var jL = localStorage.getItem('textv')
  //  console.log(items)

  
    var jobCategory  = localStorage.getItem('textvalue');; // I did console.log here and it made the job catagory undefined for some reason?
    var jobLocation = localStorage.getItem('textv');
  
    // test test

    

    
    <% if (locals.jobCategoryQuery){ %>
      jobCategory = '<%= jobCategoryQuery%>';
      console.log(jobCategory)
    <% } %>
    <% if (locals.locationQuery){ %>
      jobLocation = '<%= locationQuery%>';
      console.log(jobCategory)
    <% } %>

    
  </script>
   <script>


    JSON.stringify(userInfo)
  </script>
  <!-- <script src="javascripts/fetchzip.js"></script> -->
  <script src="javascripts/fetchjobs.js"></script>
  
  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Roboto&display=swap" rel="stylesheet">
  <script src="javascripts/main.js"></script>
  <!-- propeller ads retargeting -->
  <script
    src="//my.rtmark.net/p.js?f=sync&lr=1&partner=6a5cf0ec46bd344fd432c532f5ff51489ba0187ff3f795630c51d764b2f4d029"
    defer></script>
  <noscript><img
      src="//my.rtmark.net/img.gif?f=sync&lr=1&partner=6a5cf0ec46bd344fd432c532f5ff51489ba0187ff3f795630c51d764b2f4d029"
      width="1" height="1" /></noscript>
</head>

<body>
    <%- include('header')-%>
    <br>
    <br>
  <div class="dropdown show">

    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-red" id="fixednav">
      <a class="navbar-brand" href="/"><img src="images/logojobgrabba.png" width="200" height="200" id="flag"></a>



      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" id="nvtext" style="margin: 0 141px">
          <li class="nav-item active">
            <a class="nav-link" href="/aboutus" id="nvtext">ABOUT <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/employmentstats" id="nvtext">BLOG </a>
          
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/fulltimejobs" id="nvtext">RESOURCES </a>
            <div class="dropdown-content">

            </div>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="/register" id="nvtext">REGISTER </a>
          </li>
        </ul>
        <a href="https://www.facebook.com/Jobgrabba/"><img src="images/facebook.svg" width="20" height="20"></a>
        &nbsp&nbsp&nbsp
        <a href="https://www.instagram.com/jobgrabba/"></a> <img src="images/instagram.svg" width="20" height="20"></a>
        &nbsp&nbsp&nbsp
        <a href="https://www.twitter.com/jobgrabba"></a> <img src="images/twitter.svg" width="20" height="20"></a>
        &nbsp&nbsp&nbsp
 -->


        <!-- <div id="storeImages"><span><img src='/images/lidl200x200.png' width="70" height="70"><img src='/images/asdalogo.png' width="70" height="70"><img src='/images/tescologo.png' width="70" height="70"><img src='/images/sainsburylogo.png' width="70" height="70"></span> -->
      <!-- </div>



  </div>

  <div class="rightArea"> -->

    <!-- <a class="nav-link " href="/" ><img src="https://cdn2.iconfinder.com/data/icons/flags/flags/48/united-kingdom-great-britain.png" id="flag1"></a></a> -->
  <!-- </div>
  </nav> -->
  </div>













  <div class="container-fluid" id="contentsSearch">
    <div class="row">
      <div class="col-md-3" id="zipcol">
        <form id="searchJob" class="form-inline" onsubmit="return false;">
          <div class="searchjobbutton">
            <p>
              <input class="form-control input-mysize mr-sm-2" type="search" placeholder="Job, Company or Area" aria-label="Search"
                id="searchField">
              <input class="btn btn-outline-secondary  my-2 my-sm-0" type="submit" Value="Search"
                id="searchField"></input>
            </p>
          </div>
        </form>
        <div class="brandpromo2 d-none d-sm-block">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="/cvtips">CV Resources</a></li>
            <li class="list-group-item"><a href="/interviewprocess">Supermarket and Retail Interview Processes</a></li>
           <li class="list-group-item"><a href="/employmentstats">Employment stats</a></li>
           <li class="list-group-item"><a href="/learning">Learning Resources: Improve your employability</a></li>
           <li class="list-group-item"><a href="/jobgrabbacourses">Courses</a></li>
           <li class="list-group-item"><a href="/fulltimejobs">From Part-time to Full-time jobs </a></li>
           <li class="list-group-item"><a href="/lookingnow">Supermarkets hiring to help with Covid-19 </a></li>
           <li class="list-group-item"><a href="/freeCVReview">Free CV Review</a></li>
           <li class="list-group-item"><a href="https://pjtharness.ckmhop.com/?a=1&c=203&s1=website">Legite way to earn extra cash from home</a></li>

          </ul>
        </div>
        
        <!-- <script src="https://www.zipalerts.com/subscribe-widget/rm6hgbnz3uz646m3u9z7t6ddemchr57g.js"></script> -->
      </div>


      <div class="col-md-6">

        <div class="jobs">
          <table id="jobitem">
            <tr>




        </div>
      </div>
      </tr>
      <tr id="jobNews">
      </tr>

      </table>
      <div class="paginataionHolder">
        <h2>
          <span id="totalResults"> Result #:1255</span>
        </h2>

        <div class="paginationArea">
          <button>Previous</button>
          <span id="paginationButtons"></span>
          <button>Next</button>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-3" id="ukcrpcol">
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Jobgrabba.com searchpage -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-5395995593492894"
           data-ad-slot="5750825794"
           data-ad-format="auto"
           data-full-width-responsive="true"></ins>
      <script>
           (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      <br></br>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Jobgrabba.com searchpage -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-5395995593492894"
         data-ad-slot="5750825794"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    
    
   
    <!-- <a href="	https://pjtharness.ckmhop.com/?a=1&c=141&s1=jobboard2" > <img src="images/UKCreditRatings.png" height="250" width="300"></a> -->
  </div>

  </div>
  </div>


  <!-- footer -->
  <br>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">

      </div>
      <div class="col-md-4">
        <div class="footer1">
          <div class="card-footer text-muted">
            <p><a color="blue" href="/privacy">Privacy Policy &nbsp </a>
              <a href="/tandc">Terms and Conditions &nbsp </a>
              <a href="/aboutus">About us &nbsp </a></p>
            <p><a href="http://www.almondmedia.co.uk/contact-us/"">Contact us &nbsp</a>
                      <a href=" http://www.almondmedia.co.uk/contact-us/"">Advertise </a> </p> </div> </div> </div>
                <div class="col-md-4">
                <img src="images/AMLogo.png" height="75" width="100">
          </div>
        </div>
      </div>


</body>

</html>