<html>

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%= title %>;</title>
    <!-- Event snippet for SignupJobgrabba.com conversion page -->
    <script>
      gtag('event', 'conversion', { 'send_to': 'AW-721106018/rsRaCL3bqasBEOLo7NcC' });
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-147951644-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'UA-147951644-1');
    </script>
    <!-- Facebook Pixel Code -->
    <script>

        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '2894844270573879');
        fbq('track', 'PageView');
      
      <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=2894844270573879&ev=PageView&noscript=1"
      /></noscript>      
          </script>
   <script>
      fbq('track', 'ViewContent', {
        value: viewjobsearchpage,
      });
    </script>
    <!-- End Facebook Pixel Code -->
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- fetch jobs -->
    <script src="javascripts/fetchzip.js"></script>
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Roboto&display=swap" rel="stylesheet">
    <script src="javascripts/main.js"></script>
<!-- propeller ads retargeting -->
    <script src="//my.rtmark.net/p.js?f=sync&lr=1&partner=6a5cf0ec46bd344fd432c532f5ff51489ba0187ff3f795630c51d764b2f4d029" defer></script>
    <noscript><img src="//my.rtmark.net/img.gif?f=sync&lr=1&partner=6a5cf0ec46bd344fd432c532f5ff51489ba0187ff3f795630c51d764b2f4d029" width="1" height="1" /></noscript>

  </head>

  <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-red" id="fixednav">
       <a class="navbar-brand" href="/"><img src="images/logojobgrabba.png" width="200" height="200" id="flag"></a>
       

          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" id="nvtext" style="margin: 0 141px">
              <li class="nav-item active" >
                <a class="nav-link" href="/aboutus" id="nvtext">ABOUT <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/cvhelp" id="nvtext">CV TIPS </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/interviewprocess"id="nvtext">INTERVIEW TIPS </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/register" id="nvtext">REGISTER </a>
              </li>
             </ul>
             <a href="https://www.facebook.com/Jobgrabba/"><img src="images/facebook.svg" width="20" height="20"></a>
             &nbsp&nbsp&nbsp
             <a href="https://www.instagram.com/jobgrabba/"></a> <img src="images/instagram.svg" width="20" height="20"></a>
             &nbsp&nbsp&nbsp
             <a href="https://www.twitter.com/jobgrabba"></a> <img src="images/twitter.svg" width="20" height="20"></a>
             &nbsp&nbsp&nbsp
            
              

                 <!-- <div id="storeImages"><span><img src='/images/lidl200x200.png' width="70" height="70"><img src='/images/asdalogo.png' width="70" height="70"><img src='/images/tescologo.png' width="70" height="70"><img src='/images/sainsburylogo.png' width="70" height="70"></span> -->
                 </div> 
                 
               
            
          </div>
         
          <div class="rightArea">
              
              <!-- <a class="nav-link " href="/" ><img src="https://cdn2.iconfinder.com/data/icons/flags/flags/48/united-kingdom-great-britain.png" id="flag1"></a></a> -->
            </div> 
        </nav>
        
       
        
     
      
      
     

     

      
        

      <div class="container-fluid" id="contentsSearch">
          <div class="row">
            <div class="col-md-3 d-none  d-sm-block" id="zipcol" >
                    <!-- <form id="searchJob" class="form-inline" onsubmit="return false;">
                            <div class= "searchjobbutton"><p> 
                               <input class="form-control input-mysize mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="searchField" >
                               <input class="btn btn-outline-secondary  my-2 my-sm-0" type="submit" Value="Search" id="searchField" ></input>
                             </p>
                           </div> 
                       </form> -->
                         <div class="brandpromo2">
            <ul class="list-group list-group-flush" >
              <li class="list-group-item"><a href="/cvtips">CV Resources</a></li>
              <li class="list-group-item"><a href="/interviewprocess">Supermarket and Retail Interview Processes</a></li>
             <li class="list-group-item"><a href="/employmentstats">Employment stats</a></li>
             <li class="list-group-item"><a href="/learning">Learning Resources: Improve your employability</a></li>
             <li class="list-group-item"><a href="/jobgrabbacourses">Courses</a></li>
             <li class="list-group-item"><a href="/fulltimejobs">From Part-time to Full-time jobs </a></li>
            </ul>
            
          </div>

                <!-- <script src="https://www.zipalerts.com/subscribe-widget/rm6hgbnz3uz646m3u9z7t6ddemchr57g.js"></script> -->
            </div>
           
            
                <div class="col-md-6" id="articles">
                    <p><strong>TOP 5 TIPS FOR CREATING A GREAT CV for 2020</strong><strong><span class="yiv2215427239v1v1Apple-converted-space">&nbsp;</span></strong></p>
                    <div id="yiv2215427239forwardbody1">
                    <div id="yiv2215427239v1forwardbody1">
                    <p>Firstly, it might be a good idea to fully understand what a CV is.<span class="yiv2215427239v1v1Apple-converted-space">&nbsp;&nbsp;</span>CV is an acronym for Curriculum Vitae, Latin words meaning Course of Life.<span class="yiv2215427239v1v1Apple-converted-space">&nbsp;&nbsp;</span>In the UK, we use this term but in the US, Canada and Australia, they call it a Resume not a CV so if you&rsquo;re applying for a job in the UK with a company from one of those countries, it&rsquo;s best to call it a RESUME.<span class="yiv2215427239v1v1Apple-converted-space">&nbsp;&nbsp;</span>If not, call it a CV.&nbsp;<span class="yiv2215427239v1v1Apple-converted-space">&nbsp;</span></p>
                    <p>Many employers (but by no means all) look for continuity - they typically want to see progression either in a similar field or using similar skills. Basically they want to see a path you have created (if you have created one) i.e. some sort of link between the job you had before and the one you are going to get whether it's skills (as in my case) or type of work.&nbsp;</p>
                    <div><strong>Examples of work continuity might be:</strong><br /><br />Retail assistant to retail manager or retail admin/office for example. It could be something along the lines of healthcare admin to healthcare quality management, Marketing in a media company to marketing in a tech company. Entrepreneur (own start-up) to Business Development, Account Management or Client Relations in another type of company. It could be customer relations/customer service driving Uber to client relations in another type of company.&nbsp;<br /><br /><strong>Examples of transferable skills:</strong><br />&nbsp;<br />Customer service, Sales, Digital marketing, Blogger (yes it's a skill), Problem solving, Listening, Researcher, Healthcare, Administrative skills, Organizational skills, writing, communication, team builder and/or collaborator videographer, MS Word, Safari, &nbsp;Technical knowledge (list any coding or other tech like 3D printing for example), accounting (this could be invoicing/accounts payables and receivables - have you ever paid a bill? if so, that's accounts payables), entrepreneurial, self-motivated, in-depth consumer knowledge, any in-depth expertise in one area such as creating partner relationships. client retention, &nbsp;Leadership, employee liaison (talking to other employees about something on behalf of your boss), up-selling. &nbsp;Scroll to the bottom to see a list of hard skills v. soft skills. &nbsp;</div>
                    <p>Whether in retail or corporate, the ability to up-sell is a skill that never gets old.&nbsp;<span class="yiv2215427239v1v1Apple-converted-space">&nbsp;</span></p>
                    <p><strong>Prime Examples of Up-selling That You May Not Have Noticed:<span class="yiv2215427239v1v1Apple-converted-space">&nbsp;</span></strong></p>
                    <p>&nbsp; &nbsp; &nbsp;1. You go into&nbsp;<a href="https://starbucks.com/" target="_blank" rel="nofollow noopener">Starbucks</a>, a coffee shop or a bar and they ask you if you want something<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; to eat with your drink, that&rsquo;s up-selling.&nbsp;<br />&nbsp; &nbsp; &nbsp;2. &nbsp;You&rsquo;re at&nbsp;<a rel="nofollow">bakery counter</a>&nbsp;in the local supermarket and they say &ldquo;If you buy two, you<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; can get two free&rdquo;. That&rsquo;s up-selling! You only went in for one.<br />&nbsp; &nbsp; &nbsp;3. &nbsp;You&rsquo;re looking for an apartment and the rental agent says &ldquo;That&rsquo;s a great apartment,<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; but for just &pound;50 a month more, you can have one with a view&rdquo;. This is up-selling.&nbsp;<br />&nbsp; &nbsp; &nbsp;4. &nbsp;You&rsquo;re shopping online at Amazon for example and up pops an advert that says, free<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; shipping with&nbsp;<a href="https://amazon.com/" target="_blank" rel="nofollow noopener">Amazon Prime</a>. That&rsquo;s Up-selling!&nbsp;</p>
                    <p><strong>TIP NO. 1</strong></p>
                    <p>You probably have quite a few skills you never knew you had and you probably use them on a regular basis. Look carefully at the job description and match your knowledge almost word for word when it comes to skills.<span class="yiv2215427239v1v1Apple-converted-space">&nbsp;</span>If you&rsquo;ve ever sold anything online, you&rsquo;ve done sales. If you do it regularly and well (i.e. quicker or better than others), you have some expertise.<span class="yiv2215427239v1v1Apple-converted-space">&nbsp;&nbsp;</span>This is a transferable skill meaning you can take it from company to company.<span class="yiv2215427239v1v1Apple-converted-space">&nbsp;&nbsp;</span>Don&rsquo;t forget to mention results.<span class="yiv2215427239v1v1Apple-converted-space">&nbsp;</span>In the example given, it could be something like&hellip;products sold in 50% of the time it took peers or sold twice as much as peers in one month or met target in 50% of the time.&nbsp;</p>
                    <p><strong>TIP NO. 2</strong></p>
                    <div>Ask your friends, family, ex-colleagues or co-workers what they think your top skills are. They may come up with something you either didn&rsquo;t think was a skill or had forgotten. It&rsquo;s typically a good idea to get some input from people who know you.</div>
                    <p><strong>TIP NO. 3</strong></p>
                    <p>Choose a contemporary format for 2020, preferably a maximum of two pages.<span class="yiv2215427239v1v1Apple-converted-space">&nbsp;</span></p>
                    <p>&nbsp;</p>
                    <ol>
                    <li>Put your skills in a column on the right headed &ldquo;SKILLS&rdquo; Most people&rsquo;s eyes gravitate towards columns on the right first.&nbsp;<span class="yiv2215427239v1v1Apple-converted-space">&nbsp;If you have both hard and soft skills, put a heading for each and put the relevant skills in that category. it makes it easier for the recruiter. Scroll down for a list of hard and soft skills.</span></li>
                    <li>Create a header box. Put your name in reverse colour (white text, black background) and underneath in smaller print, right side, put your title i.e. if you are going for a retail sales position, put &ldquo;Retail Sales Professional or Retail Sales Assistant&rdquo;.<span class="yiv2215427239v1v1Apple-converted-space">&nbsp;</span></li>
                    <li>Under this in the main body, add a title called SUMMARY or OBJECTIVE Think about what your objective is with regard to the job or summarise in one clear paragraph your experience.</li>
                    <li>Briefly add a sentence or two about the role so whoever is reading it will know what you have done. Try to tie it in to the job you are going for, i.e. make it relevant if you can. For example, if the company wants a good communicator, don&rsquo;t forget to put something like &ldquo;experienced communicator&rdquo; if you have communicated with customers before.<span class="yiv2215427239v1v1Apple-converted-space">&nbsp;</span></li>
                    <li>If you achieved anything in that role, add a sub-heading entitled ACHIEVEMENTS. This can be before or after No.4 above.<span class="yiv2215427239v1v1Apple-converted-space">&nbsp;&nbsp;</span>A company wants to see your experience and what, if anything you have achieved.<span class="yiv2215427239v1v1Apple-converted-space">&nbsp;</span></li>
                    </ol>
                    <p><strong>TIP NO. 4</strong></p>
                    <p>Don&rsquo;t put photos on your CV or gimmicky graphics. That&rsquo;s old school now and can be distracting to recruiters. You should know that recruiters spend an average of 6-8 seconds scanning a resume so keeping it clear, concise, obvious, and in plain readable font (size 12 or 14 Ariel or Helvetica for example) should get their attention.<span class="yiv2215427239v1v1Apple-converted-space">&nbsp;</span></p>
                    <p><strong>TIP NO. 5</strong></p>
                    <p>Make it easy for recruiters to contact you. In the contact information section, enter:&nbsp;</p>
                    <p>*<span class="yiv2215427239v1v1Apple-tab-span">&nbsp;</span>Full name and professional title (if you have one or can think of an accurate one)</p>
                    <p>*<span class="yiv2215427239v1v1Apple-tab-span">&nbsp;</span>Email address</p>
                    <p>*<span class="yiv2215427239v1v1Apple-tab-span">&nbsp;</span>Telephone number</p>
                    <p>*<span class="yiv2215427239v1v1Apple-tab-span">&nbsp;</span><a href="https://linkedin.com/" target="_blank" rel="nofollow noopener">LinkedIn</a>&nbsp;profile if you have one</p>
                    <div>Something to be aware of: It is common practice for Recruiters to research you online. If your social media profiles are unprofessional, or if your LinkedIn information doesn&rsquo;t match that on your CV, you could be out of the race before you even started.<span class="yiv2215427239v1v1Apple-converted-space">&nbsp;<br /><br /></span>Want to avoid it?&nbsp;<a rel="nofollow">How to check your online presence before recruiters look you up!</a><strong><em>&nbsp;<br /></em></strong></div>
                    <p>Lastly, save a copy of your CV in .pdf format so it doesn&rsquo;t change.<span class="yiv2215427239v1v1Apple-converted-space">&nbsp;&nbsp;</span>If the job you are going for only accepts CVs in Word format, make a copy in word format.<span class="yiv2215427239v1v1Apple-converted-space">&nbsp;&nbsp;</span>Don&rsquo;t add a password, recruiters don&rsquo;t have time to unlock your resume.<span class="yiv2215427239v1v1Apple-converted-space">&nbsp;<br /><br /></span></p>
                    <p>We hope this helps you. Good luck with your job search from&nbsp;<a href="https://jobgrabba.com/" target="_blank" rel="nofollow noopener">Jobgrabba.com</a><br /><br />Here's a list of transferable skills you you could consider&nbsp;adding to your CV if you have them.&nbsp;<br /><br /></p>
                    <h3>Soft Skills List</h3>
                    <ul class="yiv2215427239bullet-list yiv2215427239size-16">
                    <li>Problem Solving</li>
                    <li>Leadership</li>
                    <li>Adaptability</li>
                    <li>Collaboration</li>
                    <li>Team Building</li>
                    <li>Networking</li>
                    <li>Strong Work Ethic</li>
                    <li>Time Management</li>
                    <li>Critical Thinking</li>
                    <li>Handling Pressure</li>
                    <li>Creativity</li>
                    <li>Decision Making</li>
                    <li>Negotiation</li>
                    <li>Motivation</li>
                    <li>Conflict Resolution</li>
                    <li>Customer Service</li>
                    <li>Planning</li>
                    </ul>
                    <p><strong>Hard Skills List</strong></p>
                    <ul class="yiv2215427239bullet-list yiv2215427239size-16">
                    <li>Word Processing (MS Word)</li>
                    <li>Excel</li>
                    <li>Outlook</li>
                    <li>Computer Programming</li>
                    <li>Digital Marketing</li>
                    <li>Conversion Testing</li>
                    <li>Language: Spanish, French etc.</li>
                    <li>Online Training</li>
                    <li>Training</li>
                    <li>Management</li>
                    <li>SEO - Search Engine Optimisation</li>
                    <li>Website Design</li>
                    <li>Partnership Development</li>
                    <li>Bookkeeping - Invoicing/Accounts Payables and Receivables</li>
                    <li>Accounting - Budgets, Ledgers and all the above</li>
                    <li>Schedule Management</li>
                    <li>Systems Analysis</li>
                    <li>Automotive Repair</li>
                    <li>Environmental Cleanup</li>
                    <li>Mathematics</li>
                    <li>Medical Coding</li>
                    <li>Records Management</li>
                    <li>Writing (written communication)</li>
                    <li>Data Analysis</li>
                    <li>Carpentry</li>
                    <li>Gardening and landscaping</li>
                    <li>Operating Heavy Machinery</li>
                    <li>Electrical Engineering</li>
                    <li>Sales and up-selling</li>
                    <li>Bricklaying</li>
                    <li>Plastering</li>
                    <li>Interior Design</li>
                    </ul>
                    </div>
                    </div>
                  
        
            <div class="col-md-3" id="ukcrpcol">
              <img src="/images/bestcv.jpg" width="300" heigth="500"><br>
              <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Jobgrabba.com Articles -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5395995593492894"
     data-ad-slot="3835108891"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
            </div>
            
          </div>
        </div>
       

        <!-- footer -->
        <br>

        <div class="container-fluid">
            <div class="row">
              <div class="col-md-4">
                 
              </div>
              <div class="col-md-4">
                <div class="footer1">
                  <div class="card-footer text-muted">
                    <p><a color="blue" href="/privacy">Privacy Policy &nbsp </a>
                      <a href="/tandc">Terms and Conditions &nbsp </a>
                      <a href="/aboutus">About us &nbsp </a></p>
                    <p><a href="http://www.almondmedia.co.uk/contact-us/"">Contact us &nbsp</a>
                      <a href="http://www.almondmedia.co.uk/contact-us/"">Advertise</a></p>
                  </div>
                </div>
        
              </div>
              <div class="col-md-4">
                  <img src="images/AMLogo.png" height="75" width="100">
              </div>
            </div>
          </div>
   
       
  </body>
</html>

