<html>

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title><%= title %>;</title>
  <!-- Event snippet for SignupJobgrabba.com conversion page -->
  <script>
    gtag('event', 'conversion', { 'send_to': 'AW-721106018/rsRaCL3bqasBEOLo7NcC' });
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-147951644-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-147951644-1');
  </script>
  <!-- Facebook Pixel Code -->
  <script>
    !function (f, b, e, v, n, t, s) {
      if (f.fbq) return; n = f.fbq = function () {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
      n.queue = []; t = b.createElement(e); t.async = !0;
      t.src = v; s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '280892588917611');
    fbq('track', 'PageView');
  


  </script>
  <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=280892588917611&ev=PageView&noscript=1" /></noscript>
  <!-- End Facebook Pixel Code -->
  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <img src="images/logojobgrabba.png" width="200" id="flag" style="margin: 0px 100px">
    </div>
    <div class="col-md-4">
    </div>
  </nav>
  <!-- intro    -->
  <div class="container" id="thankyoumessage">
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <p style="text-align: center">Here are some hand selected deals for those of you looking to Save Money while searching for a new job. Even if you arn't feel free to take advantage of these great deals!</p>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>

  <!-- nav end -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card" id="dealscards" style="width: 18rem;">
            <img src="/images/Amazonmusic.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Amazon Music</h5>
              <p class="card-text">30 day free trial!</p>
              <a href="	https://pjtharness.ckmhop.com/?a=29&c=75&s1=" class="btn btn-primary">Grab Deal</a>
            </div>
          </div>
      </div>
    

      <div class="col-md-4">
        <div class="card" id="dealscards" style="width: 18rem;">
            <img src="/images/amazonprime.gif" height="250" width="300" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Amazon Prime Video</h5>
              <p class="card-text">Get your 30 day free trial!</p>
              <a href="	https://pjtharness.ckmhop.com/?a=29&c=77&s1=" class="btn btn-primary">Grab Deal</a>
            </div>
          </div>
      </div>
      <br> </br><br> </br><br> </br><br> </br><br> </br><br> </br><br> </br><br> </br><br> </br><br> </br><br> </br>
      <br> </br><br> </br><br> </br><br> </br><br> </br><br> </br>

      <div class="col-md-4">
        <div class="card"  id="dealscards" style="width: 18rem;">
            <img src="/images/Waldo.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Hi Waldo</h5>
              <p class="card-text">Get 10 pairs on lenses for Free. Free trial, just cover £2.95 for shipping and they'll deliver in 2-3 days </p>
              <a href="https://pjtharness.ckmhop.com/?a=29&c=104&s1=" class="btn btn-primary">Grab Deal</a>
            </div>
          </div>
      </div>
    </div>
  
        <div class="row">
          <div class="col-md-4 col-xs-12">
              <div class="card" id="dealscards" style="width: 18rem;">
                  <img src="/images/UKCRbanner.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">UK Credit Ratings</h5>
                    <p class="card-text">Get your free credit report and free social media score!</p>
                    <a href="	https://pjtharness.ckmhop.com/?a=29&c=140&s1=" class="btn btn-primary">Grab deal</a>
                  </div>
                </div>
          </div>
          
  
          <div class="col-md-4">
              <div class="card" id="dealscards" style="width: 18rem;">
                  <img src="/images/tails.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Tails.com</h5>
                    <p class="card-text">Try 28 meals of free tailored dog food on us</p>
                    <a href="https://pjtharness.ckmhop.com/?a=29&c=111&s1=" class="btn btn-primary">Grab deal</a>
                  </div>
                </div>
          </div>
         

          <div class="col-md-4">
              <div class="card" id="dealscards" style="width: 18rem;">
                  <img src="/images/karambadeal.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Karmaba</h5>
                    <p class="card-text">Up to £50 bonus and 100 free spins</p>
                    <a href="	https://pjtharness.ckmhop.com/?a=29&c=169&p=c&s1=" class="btn btn-primary">Grab deal</a>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <!-- sign up row -->
      



      <!-- footer start-->
      <!-- <div class="container">
        <div class="row">
          <div class="col-md-4">

          </div>
          <div class="col-md-4">
            <div class="footer1">
              <div class="card-footer text-muted">
                <p><a color="blue" href="/privacy">Privacy Policy &nbsp </a>
                  <a href="/tandc">Terms and Conditions &nbsp </a>
                  <a href="/aboutus">About us &nbsp </a></p>
                <p><a href="http://www.almondmedia.co.uk/contact-us/">Contact us &nbsp</a>
                  <a href="http://www.almondmedia.co.uk/contact-us/">Advertise </a> </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <img src="images/AMLogo.png" height="75" width="100">
          </div>
        </div>
      </div>
     -->
</body>






</html>


