

<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
</head>
<body>

<div id="jobspool"> 


</div>
<script>
//import {fetchJobs} from '../data/jobs.js'

fetch("https://www.cv-library.co.uk/search-jobs-json?key=ZLv,7aJ4PLzcsYKk&q=sales&geo=london&distance=15&salarytype=annum&tempperm=Any")
.then(response => response.json())
.then((jobs) =>{
    console.log(jobs);
jobs.jobs.forEach ( (result) => {
console.log("result:"+result);
const jobDescription = `
<div class="container">
      <div class="row">
        <div class="col-sm-4">
           <h4>${result.title}</h4>
          <p><h3>${result.agency.title}</h3>  </p>
         </div>
         <div class="col-sm-4">
            <h3>${result.location}</h3>
          <p><h3>${result.agency.title}</h3>  </p>
         </div>
         <div class="col-sm-4">
                <p>${result.posted}</p>
         </div>
     </div>  
     <div class="row">
    <div class="col-sm-12">
         <p>${result.description}</p> 
    </div>     
     <div class="col-sm-3">
            <p><button><a href= https://www.cv-library.co.uk${result.url}> apply here </a> </button></p>                 
    </div>  
</div>       
</div>            
`;


const jobba = document.querySelector("#jobspool")
jobba.insertAdjacentHTML("beforeend" , jobDescription);


});
});

    
</script>


</body>
</html>