<html>

  <head>
      <script data-ad-client="ca-pub-5395995593492894" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%= title %>;</title>
    <!-- Event snippet for SignupJobgrabba.com conversion page -->
    <script>
      gtag('event', 'conversion', { 'send_to': 'AW-721106018/rsRaCL3bqasBEOLo7NcC' });
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-147951644-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'UA-147951644-1');
    </script>
    <!-- Facebook Pixel Code -->
    <script>

        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '2894844270573879');
        fbq('track', 'PageView');
      
      <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=2894844270573879&ev=PageView&noscript=1"
      /></noscript>      
          </script>
   <script>
      fbq('track', 'ViewContent', {
        value: viewjobsearchpage,
      });
    </script>
    <!-- End Facebook Pixel Code -->
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- fetch jobs -->
    <script src="javascripts/fetchzip.js"></script>
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Roboto&display=swap" rel="stylesheet">
    <script src="javascripts/main.js"></script>
<!-- propeller ads retargeting -->
    <script src="//my.rtmark.net/p.js?f=sync&lr=1&partner=6a5cf0ec46bd344fd432c532f5ff51489ba0187ff3f795630c51d764b2f4d029" defer></script>
    <noscript><img src="//my.rtmark.net/img.gif?f=sync&lr=1&partner=6a5cf0ec46bd344fd432c532f5ff51489ba0187ff3f795630c51d764b2f4d029" width="1" height="1" /></noscript>

  </head>

  <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-red" id="fixednav">
       <a class="navbar-brand" href="/"><img src="images/logojobgrabba.png" width="200" height="200" id="flag"></a>
       

          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" id="nvtext" style="margin: 0 141px">
              <li class="nav-item active" >
                <a class="nav-link" href="/aboutus" id="nvtext">ABOUT <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/cvhelp" id="nvtext">CV TIPS </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/interviewprocess"id="nvtext">INTERVIEW TIPS </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/register" id="nvtext">REGISTER </a>
              </li>
             </ul>

             <a href="https://www.facebook.com/Jobgrabba/"><img src="images/facebook.svg" width="20" height="20"></a>
             &nbsp&nbsp&nbsp
             <a href="https://www.instagram.com/jobgrabba/"></a> <img src="images/instagram.svg" width="20" height="20"></a>
             &nbsp&nbsp&nbsp
             <a href="https://www.twitter.com/jobgrabba"></a> <img src="images/twitter.svg" width="20" height="20"></a>
             &nbsp&nbsp&nbsp
            
              

                 <!-- <div id="storeImages"><span><img src='/images/lidl200x200.png' width="70" height="70"><img src='/images/asdalogo.png' width="70" height="70"><img src='/images/tescologo.png' width="70" height="70"><img src='/images/sainsburylogo.png' width="70" height="70"></span> -->
                 </div> 
                 
               
            
          </div>
         
          <div class="rightArea">
              
              <!-- <a class="nav-link " href="/" ><img src="https://cdn2.iconfinder.com/data/icons/flags/flags/48/united-kingdom-great-britain.png" id="flag1"></a></a> -->
            </div> 
        </nav>
        
       
        
     
      
      
     

     

      
        

      <div class="container-fluid" id="contentsSearch">
          <div class="row">
            <div class="col-md-3 d-none  d-sm-block" id="zipcol" >
                    <!-- <form id="searchJob" class="form-inline" onsubmit="return false;">
                            <div class= "searchjobbutton"><p> 
                               <input class="form-control input-mysize mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="searchField" >
                               <input class="btn btn-outline-secondary  my-2 my-sm-0" type="submit" Value="Search" id="searchField" ></input>
                             </p>
                           </div> 
                       </form> -->
                         <div class="brandpromo2">
            <ul class="list-group list-group-flush" >
              <li class="list-group-item"><a href="/cvtips">CV Resources</a></li>
              <li class="list-group-item"><a href="/interviewprocess">Supermarket and Retail Interview Processes</a></li>
             <li class="list-group-item"><a href="/employmentstats">Employment stats</a></li>
             <li class="list-group-item"><a href="/learning">Learning Resources: Improve your employability</a></li>
             <li class="list-group-item"><a href="/jobgrabbacourses">Courses</a></li>
             <li class="list-group-item"><a href="/fulltimejobs">From Part-time to Full-time jobs </a></li>
             <li class="list-group-item"><a href="/lookingnow">Supermarkets hiring to help with Covid-19 </a></li>
             <li class="list-group-item"><a href="/freeCVReview">Free CV Review </a></li>
             <li class="list-group-item"><a href="https://pjtharness.ckmhop.com/?a=1&c=203&s1=website">legitimate way to earn extra cash from home</a></li>


            </ul>
          </div>
                <!-- <script src="https://www.zipalerts.com/subscribe-widget/rm6hgbnz3uz646m3u9z7t6ddemchr57g.js"></script> -->
            </div>
           
            
                <div class="col-md-6" id="articles">
                    <p><strong>HOW TO GO FROM A TEMP TO PERMANENT <a href="https://jobgrabba.com" target="_blank" rel="noopener noreferrer">JOB</a><br /><br /></strong>Temp to Permanent is a job that starts out as a temporary position (could be from one week to 3 or 6 months typically). &nbsp;<br /><br />Although you may not have considered temp work, the benefits can be quite extraordinary and often get you a foot in the door. Temp jobs also pay the bills. &nbsp;<br /><br />You may not be aware, but December and January are great times to apply for jobs. People make New Year's Resolutions and decide to quit their job and get a new one to start the year off "just right". &nbsp;This is great for you, it creates job openings. Also companies have full budgets in January, namely money to spend. Also good for you!<br /><br />The thing with temp or holiday workers is, a decent proportion are school or university students who have to get back to studying. This leaves the door wide open.&nbsp;<strong><br /><br />TOP 10 TIPS TO GO FROM TEMP TO PERMANENT EMPLOYEE<br /><br /></strong></p>
                    <ol>
                    <li><strong>Do a great job, never slack or stand around chatting. You could be doing something useful or even better, learning something useful. &nbsp;</strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<em>You've all heard the story of the mail man who became a multi-millionaire. He dropped off mail, made tea and coffee in a stockbroker company and learned how the best traders traded by simply listening. He then started trading himself. The rest is history. Many would have never taken that job, he saw it as an opportunity. &nbsp;</em></li>
                    <li><strong>Ask your manager/supervisor if there is anything you can do because you don't like just standing around. &nbsp;</strong><em>This shows initiative. Thank them for it and sound enthusiastic. They will remember you when a)they need help and b)when that job comes along.</em></li>
                    <li><strong>"Subtly" blow your own trumpet. &nbsp;</strong><em>I know it's not very "British" to do this but managers are not "mind-readers", they don't have eyes everywhere, only the very best may have omnipresence or such awareness and therefore, they may not notice what you do compared to Joe Blogs who sits all day on his you know what. Also, keep a note of the things you're learning, however small. This way, adding to your resume/CV will be easier when the time comes. Sticking a note in your phone is the easiest way&nbsp;</em><em>unless</em><em>&nbsp;you have a photographic memory. Do this during your break and make a habit of it.</em></li>
                    <li><strong>Make yourself stand out from the crowd</strong>. <em>It's not as difficult as your think. The best way to do this is to take a FREE online course related to what you are doing. For example, if you are dealing with customers, take a customer service course online (<a href="https://coursera.org/" target="_blank" rel="noopener noreferrer">Coursera</a>&nbsp;is one place to start, there are loads). With your newly gathered information and learning, you can explain to your co-workers and supervisor/manager that you took a course, share some of the things your learned and ask them what they think (don't tell them). This way, you are showing your boss that you are interested in learning, you are showing that you're a team player by sharing with them and colleagues AND last but not least, you are showing you care about the customer. It also shows leadership and pro-activity, qualities all companies love.</em></li>
                    <li><strong>Plant the Seed. &nbsp;</strong><em>Say something to your supervisor/manager like "What's the difference between what I do as a temp and what Tom, Dick or Harriet does out of curiosity?" &nbsp;They'll probably say "nothing" or they may offer some great tips without realising and tell you exactly what you need to know to get the job. It will also plant a seed in their brain that you're showing interest in a permanent position with the company.&nbsp;</em></li>
                    <li><strong>Keep your eyes and ears peeled for chatter</strong> from co-workers<em>, HR (Human Resources), your Manager and just about anyone else, especially when it comes to idle chatter about being fed up with the job or people saying they're thinking of leaving. &nbsp;All this is good for you. Don't repeat it to anyone, just listen and keep listening. When you know they're ready to make a move, that's your prompt to ask your manager if there are any openings coming up. (But don't tell about what you have heard), that would be unethical. Also look on the company's website at least once a week for new jobs that are posted.&nbsp;</em></li>
                    <li><strong>Become a good team player at every opportunity. </strong><em>You may be surprised but a lot don't. They can't be asked and some will do everything NOT to help. (The writer of this article was a mystery shopper for some major retail establishments and was horrified at times at the lack of customer service and teamwork).&nbsp;</em></li>
                    <li><strong>Take <a href="https://coursera.org/" target="_blank" rel="noopener noreferrer">free courses</a> online.&nbsp;</strong><em>We've already mentioned customer service courses, but there are many others you can take that you may not think are relevant BUT ARE. An example might be a course in sales techniques or how to up-sell. Others might be &nbsp;invoicing, accounts payable and receivables, inventory management, merchandising, food and health safety or quality management. &nbsp;There's even a course on LinkedIn entitled "How to deal with difficult customers".&nbsp;</em><em>All of these courses are directly related to retail establishments. Don't forget to share with your supervisor/manager and your Employment Agency (if you have one). And don't forget the HR dept. Have a chat with them and let them know that you have taken a course in such and such and are interested in pursuing a career with the company. Trust me, you'll stand out and they'll remember. I've been on multiple ends of this, the HR management end as well as being a temp employee and a mystery (secret shopper). You WILL BE getting closer to your goal.&nbsp;</em></li>
                    <li><strong>Always do your best work. </strong>&nbsp;<em>it is not uncommon for customers to tell managers someone has done a good job or has been really helpful. I do it all the time. Conversely, the opposite is true. &nbsp;Think about it, if you are a manager and you hear customers talk about how good the service was, they're gonna want to know who provided that service and will want you onboard their permanent team.</em></li>
                    <li><strong>Learn the cash register.&nbsp;</strong> <em>Take the initiative if the opportunity comes along. In fact, take all opportunities and be aware of them. &nbsp;Using the cash register shows you can be trusted. It also typically pays better and often leads straight into invoicing or other office work which usually pays even better. &nbsp;Once you're doing office work such as invoicing or reconciliation of takings for example, you can stay and get promoted or take that experience to any office environment. &nbsp;Never stop learning!</em></li>
                    </ol>
                    <p><br />I hope this has been helpful. Remember temp jobs are a great way to learn new skills. Even if you don't get that permanent job, it could actually be a blessing in disguise. Going from one company to another gives you a unique opportunity to cultivate a wide range of skills and know-how that someone who has been with the same company forever would not have. &nbsp;It means you're staying fresh in the marketplace. &nbsp;Even a temp job that lasts a week can provide a ton of training or a new skill that you never had before.&nbsp;<br /><br />Lastly, don't forget to look on <a href="https://jobgrabba.com/">Jobgrabba</a> for a constant supply of jobs that may interest you.<br /><br />Regards,<br />From Jane for Jobgrabbr.com</p>
                        
                     </div>
                  
        
            <div class="col-md-3" id="ukcrpcol">
              <img src='/images/supermarkets.png' height="300" width="300"><br>
              <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Jobgrabba.com Articles -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5395995593492894"
     data-ad-slot="3835108891"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
            </div>
            
          </div>
        </div>
       

        <!-- footer -->
        <br>

        <div class="container-fluid">
            <div class="row">
              <div class="col-md-4">
                 
              </div>
              <div class="col-md-4">
                <div class="footer1">
                  <div class="card-footer text-muted">
                    <p><a color="blue" href="/privacy">Privacy Policy &nbsp </a>
                      <a href="/tandc">Terms and Conditions &nbsp </a>
                      <a href="/aboutus">About us &nbsp </a></p>
                    <p><a href="http://www.almondmedia.co.uk/contact-us/"">Contact us &nbsp</a>
                      <a href="http://www.almondmedia.co.uk/contact-us/"">Advertise</a></p>
                  </div>
                </div>
        
              </div>
              <div class="col-md-4">
                  <img src="images/AMLogo.png" height="75" width="100">
              </div>
            </div>
          </div>
   
       
  </body>
</html>

