<head>
        <script data-ad-client="ca-pub-5395995593492894" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="/stylesheets/style.css">
      <title><%= title %>;</title>
      <!-- Event snippet for SignupJobgrabba.com conversion page -->
      <script>
        gtag('event', 'conversion', { 'send_to': 'AW-721106018/rsRaCL3bqasBEOLo7NcC' });
      </script>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-147951644-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-147951644-1');
      </script>
      <!-- Facebook Pixel Code -->
      <script>
  
          !function(f,b,e,v,n,t,s)
          {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
          if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
          n.queue=[];t=b.createElement(e);t.async=!0;
          t.src=v;s=b.getElementsByTagName(e)[0];
          s.parentNode.insertBefore(t,s)}(window, document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
          fbq('init', '2894844270573879');
          fbq('track', 'PageView');
        
        <noscript><img height="1" width="1" style="display:none"
          src="https://www.facebook.com/tr?id=2894844270573879&ev=PageView&noscript=1"
        /></noscript>      
            </script>
     <script>
        fbq('track', 'ViewContent', {
          value: viewjobsearchpage,
        });
      </script>
      <!-- End Facebook Pixel Code -->
      <!-- jquery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <!-- fetch jobs -->
      <script src="javascripts/fetchzip.js"></script>
      <!-- fonts -->
      <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Roboto&display=swap" rel="stylesheet">
      <script src="javascripts/main.js"></script>
  <!-- propeller ads retargeting -->
      <script src="//my.rtmark.net/p.js?f=sync&lr=1&partner=6a5cf0ec46bd344fd432c532f5ff51489ba0187ff3f795630c51d764b2f4d029" defer></script>
      <noscript><img src="//my.rtmark.net/img.gif?f=sync&lr=1&partner=6a5cf0ec46bd344fd432c532f5ff51489ba0187ff3f795630c51d764b2f4d029" width="1" height="1" /></noscript>
  
    </head>