<!-- <nav class="navbar navbar-expand-lg navbar-light bg-red" id="fixednav">
    <a class="navbar-brand" href="/"><img src="images/logojobgrabba.png" width="200" height="200" id="flag"></a>



    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" id="nvtext" style="margin: 0 141px">
            <li class="nav-item active">
                <a class="nav-link" href="/aboutus" id="nvtext">ABOUT <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/cvhelp" id="nvtext">CV TIPS </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/interviewprocess" id="nvtext">INTERVIEW TIPS </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/register" id="nvtext">REGISTER </a>
            </li>
        </ul>
        <a href="https://www.facebook.com/Jobgrabba/"><img src="images/facebook.svg" width="20" height="20"></a>
        &nbsp&nbsp&nbsp
        <a href="https://www.instagram.com/jobgrabba/"></a> <img src="images/instagram.svg" width="20" height="20"></a>
        &nbsp&nbsp&nbsp
        <a href="https://www.twitter.com/jobgrabba"></a> <img src="images/twitter.svg" width="20" height="20"></a>
        &nbsp&nbsp&nbsp



        <!-- <div id="storeImages"><span><img src='/images/lidl200x200.png' width="70" height="70"><img src='/images/asdalogo.png' width="70" height="70"><img src='/images/tescologo.png' width="70" height="70"><img src='/images/sainsburylogo.png' width="70" height="70"></span> -->
    <!-- </div>



    </div>

    <div class="rightArea"> -->

        <!-- <a class="nav-link " href="/" ><img src="https://cdn2.iconfinder.com/data/icons/flags/flags/48/united-kingdom-great-britain.png" id="flag1"></a></a> -->
    <!-- </div>
</nav> --> 
<head>
        <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<div class="header">
     
        <a  href="/"><img src="images/logojobgrabba.png"  id="flag"></a>
        Inspiring new careers!

    <div class="headerNav">
     <div class='navOptions'>
        <div class="navLink">
                <a  href="/aboutus" id="nvtext">ABOUT </a>
        </div>
        <div class="navLink" style="align-content: center">
                <a href="/cvhelp" id="nvtext">CVs</a>
         </div>
        <div class="navLink">
                <a  href="/interviewprocess" id="nvtext">INTERVIEWS </a>
        </div>
        <div class="navLink">
                <a  href="/register" id="nvtext">REGISTER </a>
         </div>
     </div>    
         <div class="social">
                <a href="https://www.facebook.com/Jobgrabba/"><img src="images/facebook.svg" width="20" height="20"></a>
                <a href="https://www.instagram.com/jobgrabba/"></a> <img src="images/instagram.svg" width="20" height="20"></a>
                <a href="https://www.twitter.com/jobgrabba"></a> <img src="images/twitter.svg" width="20" height="20"></a>
    
        </div>
    </div>


    

</div>









<!-- 

<div class="container-fluid" id="contentsSearch">
    <div class="row">
        <div class="col-md-3 d-none  d-sm-block" id="zipcol">
            <form id="searchJob" class="form-inline" onsubmit="return false;">
                         <div class= "searchjobbutton"><p> 
                            <input class="form-control input-mysize mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="searchField" >
                            <input class="btn btn-outline-secondary  my-2 my-sm-0" type="submit" Value="Search" id="searchField" ></input>
                          </p>
                        </div> 
                    </form>
            <div class="brandpromo2">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="/cvtips">CV Resources</a></li>
                    <li class="list-group-item"><a href="/interviewprocess">Supermarket and Retail Interview
                            Processes</a></li>
                    <li class="list-group-item"><a href="/employmentstats">Employment stats</a></li>
                    <li class="list-group-item"><a href="/learning">Learning Resources: Improve your employability</a>
                    </li>
                    <li class="list-group-item"><a href="/jobgrabbacourses">Courses</a></li>
                    <li class="list-group-item"><a href="/fulltimejobs">From Part-time to Full-time jobs </a></li>
                    <li class="list-group-item"><a href="/lookingnow">Supermarkets hiring to help with Covid-19 </a>
                    </li>
                    <li class="list-group-item"><a href="/freeCVReview">Free CV Review</a></li>
                    <li class="list-group-item"><a href="https://pjtharness.ckmhop.com/?a=1&c=203&s1=website">legitimate
                            way to earn extra cash from home</a></li>

                </ul>
            </div>
            <script src="https://www.zipalerts.com/subscribe-widget/rm6hgbnz3uz646m3u9z7t6ddemchr57g.js"></script>
        </div>
    </div>
</div> -->