
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.6">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Jobgrabba.com - Realtime jobs in Customer Service, Retail and Supermarkets</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/product/">

    <!-- Bootstrap core CSS -->
<link href="/docs/4.4/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/4.4/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/4.4/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/4.4/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon.ico">
<meta name="msapplication-config" content="/docs/4.4/assets/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#563d7c">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="product.css" rel="stylesheet">
    <script data-ad-client="ca-pub-5395995593492894" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>
  <body>
    <nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between" id="navtext">
  
    <a class="py-2 d-none d-md-inline-block" href="/cvtips">CV Help</a>
    <a class="py-2 d-none d-md-inline-block" href="/employmentstats">Employment Stats</a>
    <a class="py-2 d-none d-md-inline-block" href="/learning">Learning and Development</a>
    <a class="py-2 d-none d-md-inline-block" href="/jobgrabbacourses">Courses</a>
    <a class="py-2 d-none d-md-inline-block" href="/interviewprocess">Interview Help</a>
    <a class="py-2 d-none d-md-inline-block" href="c2version">Job listings </a>
    <a class="py-2 d-none d-md-inline-block" href="/register">Register </a>
    <a class="py-2" href="#" aria-label="Product">
     <a href="https://www.facebook.com/Jobgrabba/"><img src="images/facebook.svg" width="20" height="20"></a> 
     <a href="https://www.instagram.com/jobgrabba/"></a> <img src="images/instagram.svg" width="20" height="20"></a>
     <a href="https://www.twitter.com/jobgrabba"></a> <img src="images/twitter.svg" width="20" height="20"></a> 
  </a>
    
  </div>
</nav>


<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" >
  <div class="col-md-5 p-lg-5 mx-auto my-5">
      
      <img src="images/logojobgrabba.png" width="430" height="430">
    <p class="lead font-weight-normal" id="sitedes">Jobgrabba.com - Realtime jobs in Customer Service, Retail and Supermarkets </p>
    <a class="btn btn-outline-secondary" id="homebutton" href="/register">Join Now</a>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<!-- <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Another headline</h2>
      <p class="lead">And an even wittier subheading.</p>
    </div>
    <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Another headline</h2>
      <p class="lead">And an even wittier subheading.</p>
    </div>
    <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>
</div> -->







<footer class="container py-5">
  <div class="row">
    <!-- <div class="col-12 col-md">
      <small class="d-block mb-3 text-muted">&copy;2019</small>
    </div>
    <div class="col-6 col-md">
      <!-- <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">CVs</a></li>
        <li><a class="text-muted" href="#">Interviews </a></li>
        <li><a class="text-muted" href="#">Today's Jobs</a></li>
        <li><a class="text-muted" href="#">Articles</a></li> -->
      <!-- </ul>
    </div>
    <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="/views/aboutus.ejs">Team</a></li>
          <li><a class="text-muted" href="/views/privacy.ejs">Privacy</a></li>
          <li><a class="text-muted" href="/views/tandc.ejs">Terms</a></li>
        </ul>
    </div>
    <div class="col-6 col-md"> --> 
      <!-- <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Business</a></li>
        <li><a class="text-muted" href="#">Education</a></li>
        <li><a class="text-muted" href="#">Government</a></li>
        <li><a class="text-muted" href="#">Gaming</a></li>
      </ul> -->
    <!-- </div>
    <div class="col-6 col-md">
      <!-- <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="/views/aboutus.ejs">Team</a></li>
        <li><a class="text-muted" href="/views/privacy.ejs">Privacy</a></li>
        <li><a class="text-muted" href="/views/tandc.ejs">Terms</a></li>
      </ul> -->
    <!-- </div>
  </div> 
</footer> -->
<!-- footer -->
<br>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
      <div class="footer1">
        <div class="card-footer text-muted">
          <p><a color="blue" href="/privacy">Privacy Policy &nbsp </a>
            <a href="/tandc">Terms and Conditions &nbsp </a>
            <a href="/aboutus">About us &nbsp </a></p>
          <p><a href="http://www.almondmedia.co.uk/contact-us/"">Contact us &nbsp</a>
                    <a href=" http://www.almondmedia.co.uk/contact-us/"">Advertise </a> </p> </div> </div> </div>
              <div class="col-md-4">
              <img src="images/AMLogo.png" height="75" width="100">
        </div>
      </div>
    </div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script></body>
</html>
