<html>

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%= title %>;</title>
    <!-- Event snippet for SignupJobgrabba.com conversion page -->
    <script>
      gtag('event', 'conversion', { 'send_to': 'AW-721106018/rsRaCL3bqasBEOLo7NcC' });
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-147951644-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'UA-147951644-1');
    </script>
    <!-- Facebook Pixel Code -->
    <script>

        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '2894844270573879');
        fbq('track', 'PageView');
      
      <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=2894844270573879&ev=PageView&noscript=1"
      /></noscript>      
          </script>
   <script>
      fbq('track', 'ViewContent', {
        value: viewjobsearchpage,
      });
    </script>
    <!-- End Facebook Pixel Code -->
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- fetch jobs -->
    <script src="javascripts/fetchzip.js"></script>
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Roboto&display=swap" rel="stylesheet">
    <script src="javascripts/main.js"></script>
<!-- propeller ads retargeting -->
    <script src="//my.rtmark.net/p.js?f=sync&lr=1&partner=6a5cf0ec46bd344fd432c532f5ff51489ba0187ff3f795630c51d764b2f4d029" defer></script>
    <noscript><img src="//my.rtmark.net/img.gif?f=sync&lr=1&partner=6a5cf0ec46bd344fd432c532f5ff51489ba0187ff3f795630c51d764b2f4d029" width="1" height="1" /></noscript>

  </head>

  <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-red" id="fixednav">
       <a class="navbar-brand" href="/"><img src="images/logojobgrabba.png" width="200" height="200" id="flag"></a>
       

          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" id="nvtext" style="margin: 0 141px">
              <li class="nav-item active" >
                <a class="nav-link" href="/aboutus" id="nvtext">ABOUT <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/cvhelp" id="nvtext">CV TIPS </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/interviewprocess"id="nvtext">INTERVIEW TIPS </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/register" id="nvtext">REGISTER </a>
              </li>
             </ul>

             <a href="https://www.facebook.com/Jobgrabba/"><img src="images/facebook.svg" width="20" height="20"></a>
             &nbsp&nbsp&nbsp
             <a href="https://www.instagram.com/jobgrabba/"></a> <img src="images/instagram.svg" width="20" height="20"></a>
             &nbsp&nbsp&nbsp
             <a href="https://www.twitter.com/jobgrabba"></a> <img src="images/twitter.svg" width="20" height="20"></a>
             &nbsp&nbsp&nbsp
            
              

                 <!-- <div id="storeImages"><span><img src='/images/lidl200x200.png' width="70" height="70"><img src='/images/asdalogo.png' width="70" height="70"><img src='/images/tescologo.png' width="70" height="70"><img src='/images/sainsburylogo.png' width="70" height="70"></span> -->
                 </div> 
                 
               
            
          </div>
         
          <div class="rightArea">
              
              <!-- <a class="nav-link " href="/" ><img src="https://cdn2.iconfinder.com/data/icons/flags/flags/48/united-kingdom-great-britain.png" id="flag1"></a></a> -->
            </div> 
        </nav>
        
       
        
     
      
      
     

     

      
        

      <div class="container-fluid" id="contentsSearch">
          <div class="row">
            <div class="col-md-3 d-none  d-sm-block" id="zipcol" >
                    <!-- <form id="searchJob" class="form-inline" onsubmit="return false;">
                            <div class= "searchjobbutton"><p> 
                               <input class="form-control input-mysize mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="searchField" >
                               <input class="btn btn-outline-secondary  my-2 my-sm-0" type="submit" Value="Search" id="searchField" ></input>
                             </p>
                           </div> 
                       </form> -->
                         <div class="brandpromo2">
            <ul class="list-group list-group-flush" >
              <li class="list-group-item"><a href="/cvtips">CV Resources</a></li>
              <li class="list-group-item"><a href="/interviewprocess">Supermarket and Retail Interview Processes</a></li>
             <li class="list-group-item"><a href="/employmentstats">Employment stats</a></li>
             <li class="list-group-item"><a href="/learning">Learning Resources: Improve your employability</a></li>
             <li class="list-group-item"><a href="/jobgrabbacourses">Courses</a></li>
             <li class="list-group-item"><a href="/fulltimejobs">From Part-time to Full-time jobs </a></li>
            </ul>
          </div>
                <!-- <script src="https://www.zipalerts.com/subscribe-widget/rm6hgbnz3uz646m3u9z7t6ddemchr57g.js"></script> -->
            </div>
           
            
                <div class="col-md-6" id="articles">
                    <p><strong>INTERVIEW RESOURCES</strong> /<strong> INTERVIEW PREP Q &amp; A</strong></p>
                    <p>&nbsp;</p>
                    <p><a href="https://www.cv-library.co.uk/career-advice/interviews/" target="_blank" rel="noopener">CV Library is a great resource for the following:</a></p>
                    <ul>
                    <li>Popular interview questions and how to answer them (video).</li>
                    <li>Questions to ask in an interview - what to ask and how to react</li>
                    <li>Interview outfit - what to wear</li>
                    <li>Wrapping up - end of interview questions</li>
                    <li>How to prepare for a job interview</li>
                    </ul>
                    <p>Watch these 2 short videos to answer the following questions:</p>
                    <p><a href="https://www.cnbc.com/2017/12/27/how-to-answer-6-curveball-interview-questions-that-may-be-thrown-your-way.html" target="_blank" rel="noopener">Why do you want this job? </a></p>
                    <p><a href="https://www.cnbc.com/2017/10/02/no-1-interview-question-this-chief-talent-officers-asks.html" target="_blank" rel="noopener">Do you have any questions?&nbsp;</a></p>
                    <p>&nbsp;</p>
                    <p><strong>Three tips from Jobgrabba</strong></p>
                    <ol>
                    <li>Begin to use the <a href="https://www.theguardian.com/careers/careers-blog/star-technique-competency-based-interview" target="_blank" rel="noopener">STAR</a> Technique (explained below)</li>
                    <li>Practice your answers out loud or video yourself to improve responses</li>
                    <li>There is typically a curveball question or two. This is important. <a href="https://fearlesssalarynegotiation.com/book/interview/curveball-questions/%C2%A0%20" target="_blank" rel="noopener">Here are ways to answer curveball questions</a><span class="Apple-converted-space">&nbsp;&nbsp;</span>or you can <a href="https://google.com/" target="_blank" rel="noopener">google</a> it for more tips.</li>
                    </ol>
                    <p><strong>Using the STAR Technique may help you at interviews and with interview preparation. So what is it?</strong></p>
                    <p><strong>STAR stands for: </strong></p>
                    <p>Situation</p>
                    <p>Task</p>
                    <p>Action</p>
                    <p>Result</p>
                    <p>&nbsp;</p>
                    <p><strong>Each letter represents each step you can use to answer almost any interview question whether it&rsquo;s retail, corporate or government.</strong></p>
                    <p>This is particularly useful when the interviewer asks you behavioural or competency questions which are the most common type of question asked in 2019. Behavioural questions show how you act in a certain situation. These questions therefore are to determine how your past behaviour might influence your success in their company. <span class="Apple-converted-space">&nbsp; </span>What does a behavioural question look like?</p>
                    <p><strong>Here&rsquo;s are some examples of behavioural competency questions: </strong></p>
                    <ol>
                    <li>Name a time when things didn&rsquo;t go your way at work, what did you do and how did you feel?</li>
                    <li>Tell me about a time when you had to fix or improve something, maybe a situation or project, what was your process or how did you go about doing it?</li>
                    <li>Describe a time when you had to do more than your fair share, how did you feel and how did you approach it?</li>
                    <li>Describe a time when you performed exceptionally well.</li>
                    <li>Tell me about a situation when you had to encourage team work.</li>
                    </ol>
                    <p>&nbsp;</p>
                    <p><strong>You&rsquo;ll know it&rsquo;s a behavioural question or competency question because</strong><strong>&nbsp;they typically start with one of the following (but not always):</strong></p>
                    <ul>
                    <li>Describe a time when</li>
                    <li>Tell me about a situation (or time) that</li>
                    <li>Name a time (or situation) when</li>
                    </ul>
                    <p>Providing enough detail to intrigue them is a good thing. Knowing when to stop&nbsp;is also a good thing, just enough info to make you look good is plenty.</p>
                    <p>Using the STAR method means you can answer the question comprehensively, accurately and succinctly enough to avoid waffling on. (Something I have frequently done in the past). Not to worry, that was then and this is now! I&rsquo;ll explain what each section is below to help you understand how to implement this on a deeper level and ensure your answers are the best they can possibly be.</p>
                    <p><strong>Situation -&nbsp;</strong>What was the situation? This is your chance to set the scene for the interviewer. Remember you are trying to give context to your answer. So, you only need to spend a couple of sentences on this.</p>
                    <p>For example, maybe you were working on a specific project, or had just received a piece of feedback from a client. Whatever it is, I recommend keeping this part short and snappy. That way you can focus on the later steps of Action and Result.</p>
                    <p><strong>Task -&nbsp;</strong>Now that you have set the scene, it&rsquo;s time to be specific. What was the task you had to do? The problem you had to overcome?</p>
                    <p>You will want to keep this specific but also relevant to the job you&rsquo;re applying for. Would this be a situation you would have to face in this new role? That counts. Does this task show your leadership or technical skills that would useful in this new role? That counts too.</p>
                    <p><strong>Action -&nbsp;</strong>Here&rsquo;s where you can really shine. What did you do to fix the task, overcome the problem, or find the solution? Whatever it is, this is where you can go into specifics.</p>
                    <p>It&rsquo;s important to not make it all about you. If you did this as part of a team, acknowledge and credit them. Your teamwork skills and willingness to acknowledge others is much more impressive to a recruiter than you single handily fixing everything (unless you actually did, then kudos).</p>
                    <p>You can talk at length about the steps you took, the challenges you faced and any specific skills you used. Remember: this, along with the RESULT portion, should make the bulk of your answer.</p>
                    <p>Make sure these actions are ones that are relevant or can be repeated in this new role. That way, the interviewer can easily see the skills you can potentially replicate in their workplace.</p>
                    <p><strong>Result -&nbsp;</strong>Now for the conclusion - The wrap-up. What was the result? Here is where you need to be specific, including essential numbers and figures if you can. Think along the lines of &ldquo;because of this sales went up by 10%&rdquo;.</p>
                    <p>Remember this needs to relate directly to the actions you and your team took in the previous step. The result should always have a positive impact and helped solve the situation highlighted earlier.</p>
                    <p>You can also include what you learned from the experience and show points where you would improve or do things differently. This would impress the interviewer by showing thought and a desire to improve.</p>
                    <p><strong><br />WHY IS THE S.T.A.R TECHNIQUE SO GREAT</strong></p>
                    <p>There are a lot of pros to using the STAR technique in an interview. It&rsquo;s an easy to remember acronym that will give you a well-structured and comprehensive answer every time. You&rsquo;ll have the answers ready before they even ask. The down side is, if it sounds too rehearsed, the interviewer may tune out. Mix it up a bit by showing your personality, show them who you are and what you're capable of. &nbsp;Put yourself in their shoes.&nbsp;</p>
                    <p><strong>COMMON CLOSING QUESTIONS FROM THE INTERVIEWER:</strong></p>
                    <p>Why should we choose you?</p>
                    <p>What can you bring to the table?</p>
                    <p>Why do you want the job?</p>
                    <p>Do you have any more questions?</p>
                    <p>How much salary are you looking for?</p>
                    <p><strong><em>To the last question, here you can ask:</em></strong></p>
                    <p>&ldquo;What is the salary range for this position?&rdquo;<span class="Apple-converted-space">&nbsp; </span>Tell them you&rsquo;d like to be at the higher end of the range or go for the top if you believe you have what it takes. <strong><em>Once they answer, if you see them twinge, you can add something like:</em></strong></p>
                    <p>&ldquo;The money is important of course but there are other things that equally attracted me to this position such as (benefits, working environment, the team, flexibility etc.)&rdquo;</p>
                    <p><strong>T<em>hen stop. <br /><br />Don't forget to thank them for considering you and finish with something like "When do you anticipate making a decision?" or even better, "When&nbsp;can I expect to hear from you?".&nbsp;</em></strong><span class="Apple-converted-space">&nbsp;<br /><br /><br />We at&nbsp;</span><a href="https://jobgrabba.com/">Jobgrabba</a>&nbsp;hope this helps you and let us know when you get that job. Good luck!</p>
                     </div>
                  
        
            <div class="col-md-3" id="ukcrpcol">
                <img src='/images/supermarkets.png' height="300" width="300"> <br>
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Jobgrabba.com Articles -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-5395995593492894"
                     data-ad-slot="3835108891"
                     data-ad-format="auto"
                     data-full-width-responsive="true"></ins>
                <script>
                     (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
            
          </div>
        </div>
       

        <!-- footer -->
        <br>

        <div class="container-fluid">
            <div class="row">
              <div class="col-md-4">
                 
              </div>
              <div class="col-md-4">
                <div class="footer1">
                  <div class="card-footer text-muted">
                    <p><a color="blue" href="/privacy">Privacy Policy &nbsp </a>
                      <a href="/tandc">Terms and Conditions &nbsp </a>
                      <a href="/aboutus">About us &nbsp </a></p>
                    <p><a href="http://www.almondmedia.co.uk/contact-us/"">Contact us &nbsp</a>
                      <a href="http://www.almondmedia.co.uk/contact-us/"">Advertise</a></p>
                  </div>
                </div>
        
              </div>
              <div class="col-md-4">
                  <img src="images/AMLogo.png" height="75" width="100">
              </div>
            </div>
          </div>
   
       
  </body>
</html>

