<html>

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%= title %>;</title>
    <!-- Event snippet for SignupJobgrabba.com conversion page -->
    <script>
      gtag('event', 'conversion', { 'send_to': 'AW-721106018/rsRaCL3bqasBEOLo7NcC' });
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-147951644-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'UA-147951644-1');
    </script>
    <!-- Facebook Pixel Code -->
    <script>
      !function (f, b, e, v, n, t, s) {
        if (f.fbq) return; n = f.fbq = function () {
          n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
        n.queue = []; t = b.createElement(e); t.async = !0;
        t.src = v; s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
      }(window, document, 'script',
        'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '280892588917611');
      fbq('track', 'PageView');
      
    </script>
    <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=280892588917611&ev=PageView&noscript=1" /></noscript>
    <!-- End Facebook Pixel Code -->
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- fetch jobs -->
    <script src="javascripts/fetchzip.js"></script>
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Roboto&display=swap" rel="stylesheet">
    <script src="javascripts/main.js"></script>
<!-- propeller ads retargeting -->
    <script src="//my.rtmark.net/p.js?f=sync&lr=1&partner=6a5cf0ec46bd344fd432c532f5ff51489ba0187ff3f795630c51d764b2f4d029" defer></script>
    <noscript><img src="//my.rtmark.net/img.gif?f=sync&lr=1&partner=6a5cf0ec46bd344fd432c532f5ff51489ba0187ff3f795630c51d764b2f4d029" width="1" height="1" /></noscript>
    <!-- Propellerads -->
   <meta name="propeller" content="66c57a020716c19396b6f2752dcf2136">
  </head>

  <body>


      <div class="container">
          <div class="row">
            <div class="col-sm">
                <img src="images/logojobgrabba.png" width="100" id="flag">
            </div>
            <div class="col-sm">
              
            </div>
            <div class="col-sm">
                <a href="/register"><button id="registerButton">REGISTER</button></a>
                <img src="https://cdn2.iconfinder.com/data/icons/flags/flags/48/united-kingdom-great-britain.png" id="flag1">

            </div>
          </div>
        </div>

      
      
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-12">
              <div class="navmargin">
                  
                  <nav class="navbar navbar-light bg-light">
                     
                      <div class="col-md-4">
                         
                  </div>
                  <div class="col-md-12">
                      <P> <strong>Find a job in your area</strong> <img src="images/map-marker-alt-solid.svg" height="14"> </P>

                      <form id="searchJob" class="form-inline" onsubmit="return false;">
                         <div class= "searchjobbutton"><p> 
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="searchField" >
                          
                            <input class="btn btn-outline-success my-2 my-sm-0" type="submit" Value="Search" ></input>
                          </p>
                        </div> 
                    </form>
                  </div>
                    <div class="col-md-4">
                      
                    </div>
                  </nav>
                </div>
        </div>
        </div>
      </div>

      
        

      <div class="container">
          <div class="row">
            <div class="col-md-2 d-none d-sm-block">
                <script src="https://www.zipalerts.com/subscribe-widget/rm6hgbnz3uz646m3u9z7t6ddemchr57g.js"></script>
            </div>
            <div class="col-md-1">

            </div>
            
                <div class="col-md-6">
                    <div class="jobs" >
                      <table id="jobitem">
                        <tr>
                          <div class="paginataionHolder">
                            <h2>
                              <span id="totalResults" width="100%"> Result #:1255</span>
                            </h2> 
                          
                            <div class="paginationArea">
                              <button>Previous</button>
                              <span id="paginationButtons"></span>
                              <button>Next</button>
                            </div>
                         </div>
                        </tr>
                        <tr id="jobNews"></tr>
                     </table>
                     </div>
                  </div>
            
            <div class="col-md-1">
                <a href="	https://pjtharness.ckmhop.com/?a=1&c=141&s1=jobboard2" > <img src="images/UKCreditRatings.png"></a>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>

        <!-- footer -->
        <br>

        <div class="container">
            <div class="row">
              <div class="col-md-4">
                 
              </div>
              <div class="col-md-4">
                <div class="footer1">
                  <div class="card-footer text-muted">
                    <p><a color="blue" href="/privacy">Privacy Policy &nbsp </a>
                      <a href="/tandc">Terms and Conditions &nbsp </a>
                      <a href="/aboutus">About us &nbsp </a></p>
                    <p><a href="http://www.almondmedia.co.uk/contact-us/"">Contact us &nbsp</a>
                      <a href="http://www.almondmedia.co.uk/contact-us/"">Advertise</a></p>
                  </div>
                </div>
        
              </div>
              <div class="col-md-4">
                  <img src="images/AMLogo.png" height="75" width="100">
              </div>
            </div>
          </div>
   
       
  </body>
</html>

