
<htmL>

    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <title><%= title %></title>
      </head>
  
    <body>
        <div class="container-fluid">
       <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <a class="navbar-brand" href="#"><img src="/images/gigjoblogo.png" ></a>
       </nav>
  
    <div class="navmargin">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand"></a>
        <h5> The place for all your gig economy needs!</h5>
        <form class="form-inline">
          <input id="searchJob" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button  class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav>
    </div>
  
    <div class="jobs">
  <table id="jobitem">
      <tr id="jobNews">
          <script>
 



             // import {fetchJobs} from '../data/jobs.js'
            const searchjob = (query) =>{
              fetch("https://www.cv-library.co.uk/search-jobs-json?key=ZLv,7aJ4PLzcsYKk&q=${query}&geo=london&distance=15&salarytype=annum&tempperm=Any")
              .then(response => response.json())
              .then((jobs) =>{
                  console.log(jobs);
              jobs.jobs.forEach ( (result) => {
              console.log("result:"+result);
              const jobDescription = `
              <div class="container">
                    <div class="row">
                      <div class="col-sm-4">
                         <h5>${result.title}</h5>
                         <h5>${result.agency.title}</h5>  
                        
                       </div>
                       <div class="col-sm-4">
                          <p>${result.location}</p>      
                       </div>
                       <div class="col-sm-4">
                       </div>
                   </div>  
                   <div class="row">
                  <div class="col-sm-12">
                       <p>${result.description}</p> 
                  </div>     
                   <div class="col-sm-3">
                          <p><button><a href= https://www.cv-library.co.uk${result.url}> apply here </a> </button></p>                 
                  </div>  
              </div>       
              </div>            
              `;
              const jobba = document.querySelector("#jobNews")
              jobba.insertAdjacentHTML("beforeend" , jobDescription);
            });
              
  
              
             
              
          });

      
              
              };
            
              const jobsForm = document.querySelector("#searchJob");
              jobsForm.addEventListener('submit', (event) => {
                event.preventDefault();
                
                const input = event.currentTarget.querySelector('.form-control');
                  jobsForm.innerHTML = '';

                  searchJob(input.value);
              });
           
                  
              </script>
      </tr>
  
      
  
        </table>
  
    </div>
  
    <div class="unsubscribe">
      <table>
        <tr>
      <a href="http://privacypolicy">Unsubscribe</a>
       </tr>
     </table>
    </div>
  
  
  
  
    <div class ="footer">
    <div class="card-footer text-muted">
    <p><a href="http://privacypolicy">Privacy Policy &nbsp  </a>
       <a href="http://privacypolicy">Terms and Conditions  &nbsp </a>
       <a href="http://privacypolicy">About us &nbsp </a></p>
       <p><a href="http://privacypolicy">Contact us &nbsp</a>
       <a href="http://privacypolicy">Advertise</a></p>
       
  
    </div>
  </div>
  
  ---
  </body>

  </htmL>
  
  