<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/style.css">
       
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-147951644-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-147951644-1');
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-5395995593492894",
    enable_page_level_ads: true
  });
</script>


    
</head>
<body>
  <div class="container">
      <div class="form-row">
          <div class="form-group col-md-4">
              <div class="brandpromo">
                  <div class="card" style="width: 18rem;">
                      <img src="images/lidl200x200.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Find and apply for your next role here</h5>
                        <p class="card-text">Search our Jobdatabase and find your next role today by registering with jobgrabba.com now. We cover all types of roles ranging from retail to IT, Marketing, Sales, Restaurant and gig economy jobs.</p>
                        
                      </div>
                    </div>
                    
               </div>
          </div>

  <div class="form-group col-md-">
    <div id="regPage">
      <div class="container-fluid row">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
          <div class="col-sm-12">
            <img src="images/logojobgrabba.png" width="200" id="flag">
            <a href="/"><button id="registerButton1"> See All Jobs </button></a>
          </div>
          <div class="col-sm-4">
            <img src="https://cdn2.iconfinder.com/data/icons/flags/flags/48/united-kingdom-great-britain.png" id="flag">
          </div>
          <div class="col-sm-4"></div>
        </nav>
      
          <nav class="navbar navbar-expand-lg navbar-light bg-white row" >
            </nav>
            </div>  
      <div class="col-sm-4">
                      
          <div class="col-sm-4" id="leftreg">
   
      
        
        </div>
        <div class="col-sm-4">
                      
      
      
        
          </div>
        </nav>



        
    <!-- <form style='display:inline;' action="/createuser" method="POST">
       <br>First Name: <input style='display:inline;' name="firstName" type="text"></br>
       <br>Last Name: <input style='display:inline;' name="lastName" type="text"></br>
       <br>email: <input style='display:inline;' name="email" type="text"></br>
       <br>Phone: <input name="phone" type="text"></br>
       <br><input type="submit"></form></br>

    </form> -->

    <!-- //form starts here -->

<div class="Regform" postition="center">
        <form style='display:inline;' action="/createuser" method="POST">
                <div class="form-row">
                    <h2 id="regCTA">Register Here</h2>
                    </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                            <label for="inputEmail4">Fist Name </label>
                            <input type="text" class="form-control" id="inputEmail4" name="firstName" placeholder="First Name">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Last Name</label>
                        <input type="text" class="form-control" id="inputEmail4" name="lastName" placeholder="Last Name">
                    </div>

                  <div class="form-group col-md-12">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" name="email" placeholder="Email"required>
                  </div>
                <div class="form-group col-md-6" >
                  <label for="inputAddress">Address</label>
                  <input type="text" class="form-control" id="inputAddress" placeholder="Address" name="address1">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputAddress2">Address 2</label>
                  <input type="text" class="form-control" id="inputAddress2" placeholder="Address 2"name="address2">
                </div>
                <div class="form-group col-md-6">
                        <label for="inputCity">City</label>
                        <input type="text" class="form-control" id="inputCity" name="city">
                      </div>
                <div class="form-group col-md-6">
                      <label for="inputZip">Post Code / Zip </label>
                      <input width="200" type="text" class="form-control" id="inputZip" name="postCode">
                      </div>
                <div class="form-group col-md-12">
                    <label for="inputPhone">Phone</label>
                    <input id="inputPhone" class="form-control" name="phone">
                  </div>
                <div class="form-group col-md-12">
                  <div class="form-check">
                  <p> <input class="form-check-input" type="checkbox" id="gridCheck" name="tickYes" value="Yes" onclick="getValue();return true;" required/>
                            <label class="form-check-label" for="gridCheck"> Yes &nbsp &nbsp &nbsp
                    <input class="form-check-input" type="checkbox" id="gridCheck1" name="tickNo" value="No" onclick="getValue();">
                            <label class="form-check-label" for="gridCheck1"> no</p> 
                      By signing up here you agree to our Privacy Policy and Terms and Conditions and to recieve communicaations by email, phone and sms from jobgrabba
                    </label>
                    <br></br>
                  </div>
                </div>
                  <div class="form-group col-md-12">
                      <div class="form-check">
                         <p><input class="form-check-input" type="checkbox" id="gridCheck3" name="tickYes1" value="Yes" onclick="getValue();return true;" required/>
                                  <label class="form-check-label" for="gridCheck3"> Yes &nbsp &nbsp &nbsp
                          <input class="form-check-input" type="checkbox" id="gridCheck4" name="tickNo1" value="No" onclick="getValue()">
                                  <label class="form-check-label" for="gridCheck4"> No </p>
                            By joining you agree to recieve information and offers by email, phone, sms & post from 3rd parties.
                    </label>
                </div>
                </div>
                </div>
                <button type="submit" class="btn btn-primary">Sign in</button>
              </form>
                    </div>

        <div class="tickres">
          
                    </div>

        </div>
        <!-- form ends here -->
    <script>
function getValue(){
    const checks = document.getElementById("gridCheck");

    console.log(checks.value);
  };
    </script>
    
  </div>
    <div class="form-group col-md-4">
        
   
     
    </div>
     </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-sm-4">
             
          </div>
          <div class="col-sm-4">
            <div class="footer1">
              <div class="card-footer text-muted">
                <p><a color="blue" href="/privacy">Privacy Policy &nbsp </a>
                  <a href="/tandc">Terms and Conditions &nbsp </a>
                  <a href="/aboutus">About us &nbsp </a></p>
                <p><a href="http://www.almondmedia.co.uk/contact-us/"">Contact us &nbsp</a>
                  <a href="http://www.almondmedia.co.uk/contact-us/"">Advertise</a></p>
              </div>
            </div>
    
          </div>
          <div class="col-sm-4">
              <img src="images/AMLogo.png" height="75" width="100">
          </div>
        </div>
      </div>
</body>
</html>