
<htmL>

        <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="/stylesheets/style.css">
            <title><%= title %></title>
          </head>
      
        <body>
            <div class="container-fluid">
           <nav class="navbar navbar-expand-lg navbar-light bg-white">
          <a class="navbar-brand" href="#"><img src="/images/gigjoblogo.png" ></a>
           </nav>
      
        <div class="navmargin">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand"></a>
            <h5> The place for all your gig economy needs!</h5>
            <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </nav>
        </div>
      
        <div class="jobs">
      <table class="jobitem">
          <tr>
              <div class="container">
          
                  <div class="row">
          
                    <div class="col-sm-12">
                      <h3>result.compny</h3> <p id="date"> </p>
                      <script>
      
                     
                      var lastUpdated = new Date();
                       var year = lastUpdated.getFullYear();
                       var day = lastUpdated.getDate();
                       var month = lastUpdated.getMonth();
                       document.querySelector("#date").innerHTML =  'Last updated: ' + day + '/' + month + '/' + year;
                      </script>
                     </div>
          
                    <div class="col-sm-6">
                        <p>You can make up to £120 every day working for Deliveroo and also keep all of your tips. To find out more about current opportunities click here. </p> 
                        <p>#ridewithus #deliveroo</p>
                    </div>
          
                    <div class="col-sm-3">
                      <a href ="https://deliveroo.co.uk/apply"><button> Apply now </button></a>
                      
                    </div>
      
                    <div class="col-sm-3">
                        <img src="/images/Deliveroo.png" width="100"> 
                      </div>
      
            
                  </div>
          
                </div>
          </tr>
          
         
          <tr>
              <div class="container">
          
                  <div class="row">
          
                    <div class="col-sm-12">
                      <h3>Uber</h3>  <p id="date2"></p>
      
                      <script>
                           var lastUpdated = new Date();
                           var year = lastUpdated.getFullYear();
                           var day =  lastUpdated.getDate();
                           var month = lastUpdated.getMonth();
                           document.querySelector("#date2").innerHTML =  'Last updated: ' + day + '/' + month + '/' + year;
                      </script>
                      
                     </div>
          
                    <div class="col-sm-6">
                        <p>Earn money riding and driving and taking people where they want to go.  Flexible work where you decide your schedule. Sign up here and find out what you need. #flexiblework #parttimework </p> 
                    </div>
          
                    <div class="col-sm-3">
                        <a href ="https://www.uber.com/a/join-new/gb?_ga=2.67009902.1790486470.1564412186-681635480.1564412186"><button> Apply now </button></a>
                      
                    </div>
      
                    <div class="col-sm-3">
                        <img src="/images/uber.png" width="50" height="50"> 
                      </div>
      
            
                  </div>
          
                </div>
          </tr>
      
          <tr>
              <div class="container">
          
                  <div class="row">
          
                    <div class="col-sm-12">
                      <h3>Taskrabbit</h3>  <p id="date3">Date</p>
      
                      <script>
                          var lastUpdated = new Date();
                          var year = lastUpdated.getFullYear();
                          var day =  lastUpdated.getDate();
                          var month = lastUpdated.getMonth();
                          document.querySelector("#date3").innerHTML =  'Last updated: ' + day + '/' + month + '/' + year;
                     </script>
                     </div>
          
                    <div class="col-sm-6">
                        <p>Want to get paid to help people with various tasks like cleaning, delivery, general handyman activity, moving house, personal assistant. earn money in your own time #flexiblework</p> 
                    </div>
          
                    <div class="col-sm-3">
                        <a href ="https://www.taskrabbit.co.uk/become-a-tasker"><button> Apply now </button></a>
                      
                    </div>
      
                    <div class="col-sm-3">
                        <img src="/images/tastrabbit.png" width="100"> 
                      </div>
      
            
                  </div>
          
                </div>
          </tr>
      
          <tr>
              <div class="container">
          
                  <div class="row">
          
                    <div class="col-sm-12">
                      <h3>fivverr</h3>  <p id="date4">Date</p>
      
                      <script>
                          var lastUpdated = new Date();
                          var year = lastUpdated.getFullYear();
                          var day =  lastUpdated.getDate();
                          var month = lastUpdated.getMonth();
                          document.querySelector("#date4").innerHTML =  'Last updated: ' + day + '/' + month + '/' + year;
                     </script>
                     </div>
          
                    <div class="col-sm-6">
                        <p>Help business by completing freelance task for them like translation, helping them with social media or writing. You decide the jobs you take. Sell your services #flexiblework #part-time</p> 
                    </div>
          
                    <div class="col-sm-3">
                        <a href ="https://www.fiverr.com/start_selling"><button> Apply now </button></a>
                      
                    </div>
      
                    <div class="col-sm-3">
                        <img src="/images/fivverr.png" width="100"> 
                      </div>
      
            
                  </div>
          
                </div>
          </tr>
      
            </table>
      
        </div>
      
        <div class="unsubscribe">
          <table>
            <tr>
          <a href="http://privacypolicy">Unsubscribe</a>
           </tr>
         </table>
        </div>
      
      
      
      
        <div class ="footer">
        <div class="card-footer text-muted">
        <p><a href="http://privacypolicy">Privacy Policy &nbsp  </a>
           <a href="http://privacypolicy">Terms and Conditions  &nbsp </a>
           <a href="http://privacypolicy">About us &nbsp </a></p>
           <p><a href="http://privacypolicy">Contact us &nbsp</a>
           <a href="http://privacypolicy">Advertise</a></p>
           
      
        </div>
      </div>
      
      ---
      </body>
    
      </htmL>
      
      