<nav class="navbar navbar-expand-lg navbar-light bg-red" id="fixednav">
        <a class="navbar-brand" href="/"><img src="images/logojobgrabba.png" width="200" height="200" id="flag"></a>
    
    
    
        
     
    
    
    
        </div>
    
        <div class="rightArea">
            Inspiring New Exciting Careers and Lives!
    
            <!-- <a class="nav-link " href="/" ><img src="https://cdn2.iconfinder.com/data/icons/flags/flags/48/united-kingdom-great-britain.png" id="flag1"></a></a> -->
        </div>
    </nav>
    
    
    
    
    
    
    
    
    
    
    
    
 