<html>

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title><%= title %>;</title>
  <!-- Event snippet for SignupJobgrabba.com conversion page -->
  <script>
    gtag('event', 'conversion', { 'send_to': 'AW-721106018/rsRaCL3bqasBEOLo7NcC' });
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-147951644-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-147951644-1');
  </script>
  <!-- Facebook Pixel Code -->
  <script>
    !function (f, b, e, v, n, t, s) {
      if (f.fbq) return; n = f.fbq = function () {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
      n.queue = []; t = b.createElement(e); t.async = !0;
      t.src = v; s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '280892588917611');
    fbq('track', 'PageView');
    // /* var userInfo = ;
    //     userInfo.Title = "Mr.";
    // //     userInfo.telephone 
  </script>
  <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=280892588917611&ev=PageView&noscript=1" /></noscript>
  <!-- End Facebook Pixel Code -->
  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <img src="images/logojobgrabba.png" width="200" id="flag" style="margin: 0px 100px">
    </div>
    <div class="col-md-4">
    </div>
  </nav>
  <!-- intro    -->
  <div class="container" id="thankyoumessage">
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <p style="text-align: center">Thanks for registering. You are now a Jobgrabba!<br>Your job enquiry is on the
          next page but first check out these money saving offers that are yours on the click of a button </p>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>

  <!-- nav end -->
  <div class="container">
    <div class="row">
      <div class="form-group col-md-4">
        <div class="form-check"> <img src="/images/amazonprime.jpg" height="35" width="70">
          <p style='font-size: 12px'>Amazon Prime - FREE 30 day trial</p>
          <p style="font-size: 10px">Enjoy unlimited streaming of thousands of movies & TV shows on your tablet, smart
            TV, game consoles, laptop or mobile phones. You can also download videos on your mobile or tablet to watch
            on the go.</p>
          <P>Would you like a 30-day FREE trial? </p>

          <p><input class="form-check-input" type="checkbox" id="gridCheck3" name="tickYes2" value="Yes"
              onclick="getValue();return true;" />
            <label class="form-check-label" for="gridCheck5"> Yes &nbsp &nbsp &nbsp
              <input class="form-check-input" type="checkbox" id="gridCheck4" name="tickNo2" value="No"
                onclick="getValue()">
              <label class="form-check-label" for="gridCheck6"> No </p>


          <br>
          <p style="font-size: 10px">Watch out for the welcome email and click through to take up the offer! <a
              href="https://www.amazon.co.uk/gp/help/customer/display.html?nodeId=200198240">Terms and Conditions</p>
          </a>
          </label>
          <input id="ipaddress" maxlength="20" name="ipaddress" size="20" type="hidden" value=" "></input>
          <input type="hidden" type="text" id="source" name="source" value="basicpage">

        </div>
      </div>


      <div class="col-md-4">
        <div class="form-check">
          
          <img src="/images/homesheildLogo.png" height="70" width="140">
          <P>Don't let a broken appliance ruin your day!</p>
          <p style="font-size: 10px">We understand how integral home appliances are to everyday life, with a protection plan from Homeshield Direct you will have access to our in house engineering team who will try to get you back up and running as soon as possible. If the issue cannot be resolved there and then, we will arrange for a registered engineer to visit. If the appliance it is unable to be repaired, we will arrange for a brand-new one for you.</p>
          <p style="font-size: 10px">Please select the brand manufacturer of your washing machine below. </p>
          <select id="machineSupplier" name="machineSupplier">
            <option value="Hotpoint"> Hotpoint </option>
            <option value="Beko"> Beko</option>
            <option value="Bosch"> Bosch</option>
            <option value="Indesit"> Indesit</option>
            <option value="Hoover"> Hoover </option>
            <option value="Zanussi"> Zanussi</option>
            <option value="Samsung"> Samsung </option>
            <option value="LG"> LG</option>
            <option value="Candy"> Candy</option>
            <option value="Whirlpool"> Whirlpool</option>
            <option value="Logik"> Logik</option>
            <option value="Siemens"> Siemens</option>
            <option value="AEG"> AEG</option>
            <option value="Dyson"> Dyson</option>
            <option value="Smeg"> Smeg</option>
            <option value="Fisher & Paykel"> Fisher & Paykel</option>
            <option value="Rangemaster"> Rangemaster</option>
          </select>
          <br>
          If your appliance is older than 1 year but still under 10 years old and you'd like to protect it, please click Yes for Homeshield to contact you.
          <p><input class="form-check-input" type="checkbox" id="gridCheck5" name="tickYes6" value="Yes" />
            <label class="form-check-label" for="gridCheck5"> Yes &nbsp &nbsp &nbsp
              <input class="form-check-input" type="checkbox" id="gridCheck6" name="tickNo7" value="No">
              <label class="form-check-label" for="gridCheck6"> No </p>
                <p style="font-size: 10px">     By clicking yes, you are agreeing to receive more information about our products. We may contact you from time to time by telephone, email or mail. You can withdraw your consent to receive communication at any time. For further details about the information we collect about you and what we do with it you can check out our <a href="https://homeshielddirect.co.uk/privacy-policy/"> Privacy Policy</a>
          </p>
        
          </label>

        </div>
      </div>

      <div class="col-md-4">
        <div class="form-check">
          <img src="/images/dealcheckerlogo.png" height="70" width="140">
          <P>Never pay a full price for your holiday again with amazing FREE email travel updates from
            dealchecker.co.uk! </p>

          <h5 id="NGtitle"> Dealchecker </h5>
          <p style="font-size: 10px">Here at dealchecker, we search low and high to find you the best deals on the web.
            Every deal is thoroughly researched to ensure that it's a real bargain with no hidden costs.</p>
          <p style="font-size: 10px">Click YES to receive FREE emails from dealchecker loaded with great value travel
            offers.</p>
          <p><input class="form-check-input" type="checkbox" id="gridCheck7" name="tickYes7" value="Yes" />
            <label class="form-check-label" for="gridCheck5"> Yes &nbsp &nbsp &nbsp
              <input class="form-check-input" type="checkbox" id="gridCheck8" name="tickNo8" value="No">
              <label class="form-check-label" for="gridCheck6"> No </p>
          <p style="font-size: 10px"><a href="https://www.dealchecker.co.uk/site/email-privacy.html">Terms and
              Conditions
          </p></a>
          </label>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="form-group col-md-4">
          <div class="form-check"> <img src="/images/O2logo.svg" height="70" width="140">
            <p style='font-size: 12px'>O2</p>
            <p style="font-size: 10px">Claim your Free O2 Sim Card and get double Data, Minutes and Texts. Would you
              like to be contacted to hear more?</p>




            <p><input class="form-check-input" type="checkbox" id="gridCheck9" name="tickYes2" value="Yes"
                onclick="getValue();return true;" />
              <label class="form-check-label" for="gridCheck5"> Yes &nbsp &nbsp &nbsp
                <input class="form-check-input" type="checkbox" id="gridCheck10" name="tickNo2" value="No"
                  onclick="getValue()">
                <label class="form-check-label" for="gridCheck6"> No </p>


            <br>
            <p style="font-size: 10px"> <a href="https://www.o2.co.uk/termsandconditions">Terms and Conditions</p>
            <p style="font-size: 10px"> <a href="https://www.o2.co.uk/termsandconditions/privacy-policy">Privacy Policy
            </p>
            </a>
            </label>
            <input id="ipaddress" maxlength="20" name="ipaddress" size="20" type="hidden" value=" "></input>
            <input type="hidden" type="text" id="source" name="source" value="basicpage">

          </div>
        </div>


        <div class="col-md-4">
          <div class="form-check">
            <img src="/images/utilitalogo.jpeg" height="70" width="140">
            <P>Leading Provider of smart Pay As You Go energy in Great Britain </p>
            <P>Would you like to receive a call from Utilita Energy to find out more information about the benefits of
              switching over? </p>
            <p><input class="form-check-input" type="checkbox" id="gridCheck11" name="tickYes6" value="Yes" />
              <label class="form-check-label" for="gridCheck5"> Yes &nbsp &nbsp &nbsp
                <input class="form-check-input" type="checkbox" id="gridCheck12" name="tickNo7" value="No">
                <label class="form-check-label" for="gridCheck6"> No </p>
            <h5 id="NGtitle"> No more energy bills, no more complicated tariffs - just a simple, easy-to-use smart
              meter. </h5>
            <p style="font-size: 10px">Who is your current energy supplier? List </p>
            <select id="supplier" name="supplier">
              <option value="British Gas"> British Gas </option>
              <option value="EDF Energy"> EDF Energy</option>
              <option value="E.ON"> E.ON </option>
              <option value="NPower"> NPower</option>
              <option value="Scottish Power"> Scottish Power </option>
              <option value="SSE"> SSE</option>
              <option value="Other"> Other</option>
            </select>

            <p style="font-size: 10px">WHow do you pay for your energy bill? </p>
            <select id="paymentmethod" name="paymentmethod">
              <option value="Direct Debit"> Direct Debit </option>
              <option value="Pre-Payment"> Pre-Payment </option>
              <option value="Other"> Other</option>
            </select>

            <p> Yes” means you consent to Utilita’s Group of companies contacting you about; switching energy supplier,
              products or services Utilita believes may be relevant to you.

              You can opt out at any time afterwards by phone or email using either Complaince@utilita.co.uk or calling
              01962 874 864

              If you registered with the Telephone Preference Service (TPS) or have said no to Utilita contacting you
              before, this explicit consent means Utilita can contact you.

              For more information on Utilita & your data rights, visit their website www.utilita.co.uk and view Privacy
              Notice.</p>

            <p style="font-size: 10px"><a href="http://www.utilita.co.uk">Terms and Conditions
            </p></a>
            </label>

          </div>
        </div>

        <div class="col-md-4">
          <img src="/images/BISAlogo.png" height="50" width="100">
          <div class="form-group col-md-12">
            <div class="form-check">
              <!-- <p><input class="form-check-input" type="checkbox" id="gridCheck3" name="tickYes3" value="Yes" onclick="getValue();return true;" />
                              <label class="form-check-label" for="gridCheck3"> Yes &nbsp &nbsp &nbsp
                      <input class="form-check-input" type="checkbox" id="gridCheck4" name="tickNo1" value="No" onclick="getValue()">
                              <label class="form-check-label" for="gridCheck4"> No </p>
                                <p style="font-size:12px">Don’t miss out – get your quote today! Tick yes to receive a call from one of our UK-based insurance specialists.</p> -->
              <P style="font-size:10px">
                Peace of mind for you and your loved ones from as little as 13p per day!*</P>
              <ul style="font-size:10px">
<li> Guaranteed acceptance for UK residents aged 50-80
<li> No health or medical questions 
<li> Make changes with no fees 
<li> Free Will Kit worth £100 
<li> Free £300 Funeral Benefit Option
              </ul>
              <p style="font-size:12px">Don’t miss out – get your quote today! Tick yes to receive a call from one of
                our UK-based insurance specialists.</p>
              <p><input class="form-check-input" type="checkbox" id="gridCheck13" name="tickYes3" value="Yes"
                  onclick="getValue();return true;" />
                <label class="form-check-label" for="gridCheck3"> Yes &nbsp &nbsp &nbsp
                  <input class="form-check-input" type="checkbox" id="gridCheck14" name="tickNo1" value="No"
                    onclick="getValue()">
                  <label class="form-check-label" for="gridCheck4"> No </p>

              <P style="font-size:8px">
                *Based on a 50-year-old with £1,000 of cover. View full <a
                  href="https://www.britishseniors.co.uk/over-50-life-insurance/"> terms and conditions.

                </a>
              </P>
              </label>

            </div>
          </div>
        </div>
        
      </div>
      <!-- sign up row -->
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <script>
            function sendSubscriptions() {
              if(!validate()){
                return;
              }
              // var checked = $("#gridCheck5").val();
              // if (checked == "Yes") {
              //   var settings = {
              //     "async": true,
              //     "crossDomain": true,
              //     "data": userInfoNationalGeographic,
              //     "url": "https://trk.m-t.io/action?_tec=0&_tep=6191767533780992",
              //     "method": "GET",
              //     "headers": {
              //       "Accept": "*/*",
              //       "Host": "trk.m-t.io",
              //       "Accept-Encoding": "gzip, deflate",
              //       "Connection": "keep-alive",
              //     }
              //   };
              //   $.ajax(settings).done(function (response) {
              //     console.log("national geographic response:" + JSON.stringify(response));
              //   });
              // }
              var userBrand = $("#machineSupplier").val();
              userInfoHomeshield.brand = userBrand;
              var HomeshieldCheckYes = $("#gridCheck5").val();
              
              if (HomeshieldCheckYes == "Yes") {
                var homeshieldInfo = {
                  "async": true,
                  "crossDomain": true,
                  "data": userInfoHomeshield,
                  url: "https://lead365.leadbyte.co.uk/api/submit.php?campid=HOMESHIELD&sid=SID492&returnjson=yes",
                  "method": "GET",
                  "headers": {
                    "Accept": "*/*",
                    "Host": "lead365.leadbyte.co.uk",
                    "Accept-Encoding": "gzip, deflate",
                    "Connection": "keep-alive",
                  }
                };
                $.ajax(homeshieldInfo).done(function (response) {
                  console.log("Homesheild response:" + JSON.stringify(response));
                });
              }




              var amazonCheckYes = $("#gridCheck3").val();
              if (amazonCheckYes == "Yes") {
                // send request to other service
                var options2 = {
                  method: 'GET',
                  async: true,
                  crossDomain: true,
                  "data": userInfoAmazon,
                  url: 'https://trk.m-t.io/action?_tec=0&_tep=6091614734909440',
                  "method": "GET",
                  "headers": {
                    "Accept": "*/*",
                    "Host": "trk.m-t.io",
                    "Accept-Encoding": "gzip, deflate",
                    "Connection": "keep-alive",
                  }
                };
                $.ajax(options2).done(function (response) {
                  console.log("amazon response:" + JSON.stringify(response));
                });
              }
              var dealchecker = $("#gridCheck7").val();
              if (dealchecker == "Yes") {
                var dealcheckerOptions = {
                  method: 'GET',
                  async: true,
                  crossDomain: true,
                  "data": userInfoDealchecker,
                  url: "https://lead365.leadbyte.co.uk/api/submit.php?returnjson=yes&campid=DEAL-CHECKER&sid=SID492",
                  "headers": {
                    "Accept": "*/*",
                    "Host": "lead365.leadbyte.co.uk",
                    "Accept-Encoding":
                      "gzip, deflate",
                    "Connection": "keep-alive",
                  }
                };
                $.ajax(dealcheckerOptions).done(function (response) {
                  console.log("deal checkers response:" + JSON.stringify(response));
                });

              }

              var utilita = $("#gridCheck11").val();

              var supplier = $("#supplier").val();
              var paymentmethod = $("#paymentmethod").val();
              console.log(supplier)
              console.log(paymentmethod)
              userInfoutilita.currentprovider = supplier;
              userInfoutilita.paymentmethod = paymentmethod;

              if (utilita == "Yes") {
                var utilitaInfo = {
                  method: 'GET',
                  async: true,
                  crossDomain: true,
                  "data": userInfoutilita,
                  url: "https://lead365.leadbyte.co.uk/api/submit.php?campid=UTILITA-ONLINE&sid=SID492&returnjson=yes",
                  "headers": {
                    "Accept": "*/*",
                    "Host": "lead365.leadbyte.co.uk",
                    "Accept-Encoding":
                      "gzip, deflate",
                    "Connection": "keep-alive",
                  }

                };
                $.ajax(utilitaInfo).done(function (response) {
                  console.log("utilita response:" + JSON.stringify(response));
                });
              }
              var o2 = $("#gridCheck9").val();
              if (o2 == "Yes") {
                var o2Info = {
                  method: 'GET',
                  async: true,
                  crossDomain: true,
                  "data": userInfoo2,
                  url: "https://lead365.leadbyte.co.uk/api/submit.php?campid=02-FREE-SIM&sid=SID492",
                  "headers": {
                    "Accept": "*/*",
                    "Host": "lead365.leadbyte.co.uk",
                    "Accept-Encoding":
                      "gzip, deflate",
                    "Connection": "keep-alive",
                  }

                };
                $.ajax(o2Info).done(function (response) {
                  console.log("o2 response:" + JSON.stringify(response));
                });
              }

              var britSeniors = $("#gridCheck13").val();
              if (britSeniors == "Yes") {
                var britSeniorsInfo = {
                  method: 'GET',
                  async: true,
                  crossDomain: true,
                  "data": userInfobritSeniors,
                  url: "https://pp.leadbyte.co.uk/api/submit.php?campid=BSIACOREG&sid=74265&returnjson=yes",
                  "headers": {
                    "Accept": "*/*",
                    "Host": "https://pp.leadbyte.co.uk",
                    "Accept-Encoding":
                      "gzip, deflate",
                    "Connection": "keep-alive",
                  }

                };
                $.ajax(britSeniorsInfo).done(function (response) {
                  console.log("brit seniors response:" + JSON.stringify(response));
                });
              }
              window.location = "c2version";

            }
          </script>
          <div id="errormessage">

            </div>

          <button id="applyNowButton" class="btn btn-primary" onclick="sendSubscriptions();" value="Redirect">Apply
            now</button>
          
        </div>
        <script>
          function validate() {
            const yeh = document.getElementById("gridCheck13");
            const nah = document.getElementById("gridCheck14");
            const yeh1 = document.getElementById("gridCheck3");
            const nah1 = document.getElementById("gridCheck4");
            const yeh2 = document.getElementById("gridCheck5");
            const nah2 = document.getElementById("gridCheck6");
            const yeh4 = document.getElementById("gridCheck9");
            const nah4 = document.getElementById("gridCheck10");
            const yeh3 = document.getElementById("gridCheck7");
            const nah3 = document.getElementById("gridCheck8");
            const yeh5 = document.getElementById("gridCheck11");
            const nah5 = document.getElementById("gridCheck12");           
            const alertMessage = document.getElementById("validationmessage")
            if ((yeh.checked == true || nah.checked == true) &&
                (yeh1.checked == true || nah1.checked == true) &&
                (yeh2.checked == true || nah2.checked == true) &&
                (yeh3.checked == true || nah3.checked == true) &&
                (yeh4.checked == true || nah4.checked == true) &&
                (yeh5.checked == true || nah5.checked == true)            
            ) {
              return true;
            } else {
              document.getElementById("errormessage").innerHTML = "Please select either Yes or No for each offer";
              return false;
            }
          }

        </script>
        <div class="col-md-4">
        </div>
      </div>



      <!-- footer start-->
      <div class="container">
        <div class="row">
          <div class="col-md-4">

          </div>
          <div class="col-md-4">
            <div class="footer1">
              <div class="card-footer text-muted">
                <p><a color="blue" href="/privacy">Privacy Policy &nbsp </a>
                  <a href="/tandc">Terms and Conditions &nbsp </a>
                  <a href="/aboutus">About us &nbsp </a></p>
                <p><a href="http://www.almondmedia.co.uk/contact-us/">Contact us &nbsp</a>
                  <a href="http://www.almondmedia.co.uk/contact-us/">Advertise </a> </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <img src="images/AMLogo.png" height="75" width="100">
          </div>
        </div>
      </div>
    </div>
</body>




<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>



  <input id="latitude">
  <input id="longitude">




</body>

</html>

</html>



<!-- ///<div class="container-fluid row" style="text-align: center">
                
            <h3 style="text-align: center">Pleas activate your email now!
                 for the latest great jobs and other special offers from the newsgrabba team please ensure you activate your email and be sure to upload your CV too so that potential employers can find you</h3>
                 <h5> Here are some other offers </h5>
            </div> -->