
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
              <link rel="stylesheet" href="/stylesheets/style.css">
              <title><%= title %></title>
              <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-147951644-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-147951644-1');
</script>

        
        
        </head>
        <body>
              
                <div class="container-fluid row" style="text-align: center">
                        <nav class="navbar navbar-expand-lg navbar-light bg-white">
        
                        <div class="col-sm-4">
                        
                               
                                </div>
                                <div class="col-sm-4">
                                        <img src="images/logojobgrabba.png" width="200" id="flag">
                    
        
                                    </div>
                                    <div class="col-sm-4">
                                      
                      
                                        </div>
                                    </div>
                              </nav>
        
            <script>
            
        
                </script>
                <p></p>
                <h3 style="text-align: center"> </h3>
                <!-- header end -->
                <!-- body -->
                <div class="container">
                  <div class="row">
                  <div class="col-sm-4">&nbsp;</div>
                  <div class="col-sm-4">
                  <blockquote class="protonmail_quote">
                  <div class="protonmail_signature_block">
                  <div class="protonmail_signature_block-proton">
                  <div class=""><span class="">Privacy Policy</span></div>
                  <div class="">&nbsp;</div>
                  <div class=""><span class="">Who we are</span></div>
                  <div class="">&nbsp;</div>
                  <div class=""><span class=""><a class="" href="http://jobgrabba.com/">Jobgrabba.com</a></span><span class=""> is an Almond Media Group Ltd brand. <a class="" href="http://jobgrabba.com/">jobgrabba.com</a> may hereinafter be referred to as JG, <a class="" href="http://jobgrabba.com/">jobgrabba.com</a>, Jobgrabba and/or Almond Media interchangeably.&nbsp; Jobgrabba provides access to third party job sites via it&rsquo;s website. Jobgrabba does not personally offer jobs nor does it give any guarantees or warranties for the jobs posted. We therefore recommend you use your due diligence when applying for any job posted. Jobgrabba collects data (information you have provided to us). Any information owned by Jobgrabba is therefore owned by Almond Media Group Ltd.</span></div>
                  <div class="">&nbsp;</div>
                  <div class=""><span class="">Almond Media is a media agency, providing advertising and lead generation services to our advertiser clients and conducts the following principal activities: Mobile marketing services, electronic mail marketing, web publicity displays, advertising campaigns and affiliate marketing to promote a wide range of services and/or products on behalf of ourselves and/or third parties. These third parties we typically refer to as our clients, partners, business partners, affiliates and we/they may operate in any business sector. &nbsp;</span></div>
                  <div class="">&nbsp;</div>
                  <div class=""><span class="">We also collect and archive data for research purposes for public benefit and/or interest.</span></div>
                  <div class="">&nbsp;</div>
                  <div class=""><span class="">Furthermore Jobgrabba may process your data in order to provide you with the services you have requested or, where you have given us consent to do so, to send you information that we think you'll find interesting and we store your data on what are considered secure servers. Jobgrabba also shares your information with 3rd parties to this end.</span></div>
                  <div class="">&nbsp;</div>
                  <div class=""><span class="">We work within the guidelines and advice provided by the ICO, the regulator of the Data Protection Act 2018 and within GDPR and Australian Privacy Principles (APP) guidelines.</span></div>
                  <div class="">&nbsp;</div>
                  <div class=""><span class="">We aim to make this privacy policy as simple as possible in plain language and for your benefit utilising the recommended minimisation protocol.</span></div>
                  <div class="">&nbsp;</div>
                  <div class=""><span class="">This policy outlines how Jobgrabba will use the information (known as data) that you provide, whether by completing a contact form, a registration form, a request form, a membership form or using any part of its website/s or applications.</span></div>
                  <div class="">&nbsp;</div>
                  <div class=""><span class="">Company Information and Definitions</span></div>
                  <div class=""><span class=""> &bull; <a class="" href="http://jobgrabba.com/">jobgrabba.com</a> is a brand of Almond Media Group Ltd referred to herein as Almond Media</span></div>
                  <div class=""><span class=""> &bull; Company Registration Number: 11958245 Registered in the UK</span></div>
                  <div class=""><span class=""> &bull; Website address: <a class="" href="https://jobgrabba.com/">https://jobgrabba.com</a></span></div>
                  <div class=""><span class=""> &bull; Address: B6 Westbourne Grove Terrace, London W2 5SD</span></div>
                  <div class=""><span class=""> &bull; GDPR (General Data Protection Regulation)&nbsp;</span></div>
                  <div class=""><span class=""> &bull; APP (Australia Privacy Policy)</span></div>
                  <div class=""><span class=""> &bull; Data Controller is: Almond Media Group Ltd. You may contact the data controller at: <a class="" href="mailto:admin@almondmedia.co.uk">admin@almondmedia.co.uk</a></span></div>
                  <div class=""><span class=""> &bull; Data Processor:Contact the Data Processor at <a class="" href="mailto:admin@almondmedia.co.uk">admin@almondmedia.co.uk</a></span></div>
                  <div class=""><span class=""> &bull; ICO registration number: ZA549035 </span></div>
                  <div class="">&nbsp;</div>
                  <div class=""><span class="">Principles for processing personal data</span></div>
                  <div class="">&nbsp;</div>
                  <div class=""><span class="">Our aims for processing your personal data are as follows: We may collect your personal data to help us understand your needs and guide the way in which we communicate/interact with you about ours and third parties' products and services (subject to your consent). We aim to comply with policies and procedures that are in place to protect the data (information) that you provide when registering to our site/s, and we process it for the purpose of providing you with the services you have requested and/or where you have given us your permission to do so; to send you information that we think you will find interesting or useful.</span></div>
                  <div class=""><span class="">Whenever we save data, our aim is for your information to be stored on what are considered secure servers. We seek to comply within the guidelines/advice made available by:</span></div>
                  <div class="">&nbsp;</div>
                  <div class=""><span class=""> &bull; ICO (Information Commissioner's Office) Data Protection Act 2018</span></div>
                  <div class=""><span class=""> &bull; GDPR</span></div>
                  <div class=""><span class=""> &bull; APP (Australia Privacy Principles)</span></div>
                  <div class="">&nbsp;</div>
                  <div class=""><span class=""><strong class=""> 1 Fairness and lawfulness.&nbsp;</strong>When we process personal data, our aim is for individual rights of Data Subjects to be protected.</span></div>
                  <div class=""><span class=""><strong class=""> 2 Restricted to a specific purpose.&nbsp;</strong>The personal data of a Data Subject will be processed for specific purposes.</span></div>
                  <div class=""><span class=""><strong class=""> 3 Transparency.&nbsp;</strong>The Data Subject can, upon request be informed of how your data is being collected, processed, used.&nbsp;</span></div>
                  <div class="">&nbsp;</div>
                  <div class=""><span class="">What personal data we collect and process</span></div>
                  <div class="">&nbsp;</div>
                  <div class=""><span class=""><a class="" href="http://jobgrabba.com/">jobgrabba.com</a></span><span class=""> collects several different types of personal data for various purposes. Personal Data may include one or more of the following:</span></div>
                  <div class="">&nbsp;</div>
                  <div class=""><span class=""> &bull; Email address</span></div>
                  <div class=""><span class=""> &bull; First Name, Middle Name, Last Name and title</span></div>
                  <div class=""><span class="">&nbsp;&nbsp; &bull; Phone Number</span></div>
                  <div class=""><span class=""> &bull; Full, partial or IP (Internet Protocol address)</span></div>
                  <div class=""><span class=""> &bull; Date of Birth</span></div>
                  <div class=""><span class=""> &bull; Gender</span></div>
                  <div class=""><span class=""> &bull; Proxy data such as hobbies, leisure activities, physical description, location, behavioural data especially with regard to shopping</span></div>
                  <div class=""><span class=""> &bull; User name and passwords collected or used on our websites or applications</span></div>
                  <div class="">&nbsp;</div>
                  <div class=""><span class="">We will endeavour to keep your personal data as secure as reasonably possible. The security of your personal information is important to us.</span></div>
                  <div class="">&nbsp;</div>
                  <div class=""><span class="">How we use the personal data</span></div>
                  <div class=""><span class="">Jobgrabba and Almond Media uses collected personal data for various purposes and includes:</span></div>
                  <div class="">&nbsp;</div>
                  <div class=""><span class=""> &bull; To provide you with services</span></div>
                  <div class=""><span class=""> &bull; To notify you about changes to our services and/or products and that of our clients and business partners</span></div>
                  <div class=""><span class=""> &bull; To provide customer support</span></div>
                  <div class=""><span class=""> &bull; To gather analysis or valuable information so that we can improve our services</span></div>
                  <div class=""><span class=""> &bull; To detect, prevent and address technical issues</span></div>
                  <div class=""><span class=""> &bull; Mobile marketing services promoting a range of products and services</span></div>
                  <div class=""><span class=""> &bull; Email marketing</span></div>
                  <div class=""><span class=""> &bull; Web publicity marketing and advertising displays</span></div>
                  <div class=""><span class=""> &bull; Newsletters about company news, third party products and/or third party services</span></div>
                  <div class=""><span class=""> &bull; Marketing campaigns via the internet, email marketing/alerts/newsletters/advertising/affiliate marketing</span></div>
                  <div class=""><span class=""> &bull; Third party marketing and advertising campaigns</span></div>
                  <div class=""><span class=""> &bull; Jobgrabba and Almond Media may use the information that you provide, whether by completing a contact form, a registration, subscribe and/or membership form or visiting any part of its website/s and/or applications.</span></div>
                  <div class=""><span class=""> &bull; With your consent, we may share, rent, sell your personal data or entire our &nbsp;database to our partners, clients and for any commercial purpose including marketing, advertising which may include direct communication to your email, address, phone, sms, post for any product or service from our business partners and clients.</span></div>
                  <div class=""><span class=""> &bull; Research archiving and sharing for public benefit and/or interest</span></div>
                  <div class=""><span class=""> &bull; When you register with us, you consent to us sending PII (Personal identifiable information) about you to our clients, business partners whom we work with and we may share, sell or rent such information for marketing purposes.</span></div>
                  <div class=""><span class=""> &bull; Share your information with third parties as required to provide the service or product you have requested</span></div>
                  <div class=""><span class=""> &bull; Respond to subpoenas, court orders, legal process and other legitimate legal requirements.</span></div>
                  <div class="">&nbsp;</div>
                  <div class=""><span class=""> &bull; Please also be aware that if you opt in to receiving job alerts, we will use your email address to send daily emails relevant to positions you are looking for. Should you decide to unsubscribe from this service, please follow the 'Unsubscribe' link in the emails</span></div>
                  <div class="">&nbsp;</div>
                  <div class=""><span class="">Basis for collecting and processing personal data</span></div>
                  <div class="">&nbsp;</div>
                  <div class=""><span class="">Jobgrabba legal basis for collecting and using the personal data described in this Data Protection Policy depends on the personal data we collect and the specific context in which we collect the information:</span></div>
                  <div class="">&nbsp;</div>
                  <div class=""><span class=""> &bull; Jobgrabba performs a contract with you</span></div>
                  <div class=""><span class=""> &bull; You have given Jobgrabba permission to do so</span></div>
                  <div class=""><span class=""> &bull; Processing your personal data is in Jobgrabba&rsquo;s legitimate interests</span></div>
                  <div class=""><span class=""> &bull; Jobgrabba aims to comply with the law</span></div>
                  <div class="">&nbsp;</div>
                  <div class=""><span class="">Retention of personal data</span></div>
                  <div class="">&nbsp;</div>
                  <div class=""><span class="">Jobgrabba will retain your personal information only for as long as is necessary for the purposes set out in this Data Protection Policy. Jobgrabba will retain and use your information to the extent necessary to comply with our legal obligations, resolve disputes, and enforce our policies. Your co-operation in helping us to keep your data accurate by informing us of any address, phone or name change is important to the integrity of your data and a key part of our policy.</span></div>
                  <div class=""><span class="">We conduct period reviews based on recommended minimisation protocol for your information to be securely erased when no longer required.</span></div>
                  <div class=""><span class="">Exceptions to general rules on data retention include court orders, litigation holds, federal/state holds and other legal requirements.</span></div>
                  <div class=""><span class="">Exceptions also include when we archive data for research purposes for public benefit or interest.</span></div>
                  <div class="">&nbsp;</div>
                  <div class=""><span class="">Data protection rights</span></div>
                  <div class="">&nbsp;</div>
                  <div class=""><span class="">If you are a resident of the European Economic Area (EEA), you may have certain data protection rights. &nbsp;If you would like to be removed from our systems, please contact us at: <a class="" href="mailto:admin@almondmedia.co.uk">admin@almondmedia.co.uk</a>.&nbsp; While you may request your data to be removed by another method of your choosing, this is the method we strongly recommend.&nbsp;</span></div>
                  <div class="">&nbsp;</div>
                  <div class=""><span class="">We allow you to challenge the data we have about you, and where appropriate, you may have the data:</span></div>
                  <div class="">&nbsp;</div>
                  <div class=""><span class=""> &bull; amended or rectified</span></div>
                  <div class=""><span class=""> &bull; completed</span></div>
                  <div class=""><span class=""> &bull; deleted</span></div>
                  <div class=""><span class=""> &bull; forgotten</span></div>
                  <div class=""><span class=""> &bull; withdraw consent, de-register, unsubscribe</span></div>
                  <div class=""><span class=""> &bull; access (request a copy) or update the information</span></div>
                  <div class="">&nbsp;</div>
                  <div class=""><span class="">We may require proof of your identity to do any of the above under this clause for the security purposes of the Subject Data.</span></div>
                  <div class=""><span class="">Our response time for getting a copy of the data we hold on you is 30 days from the date of receipt of the request. If this data is encrypted, we are obliged to send you a decipher key but are not obliged to unencrypt ourselves or provide encryption services. This is for the security of data.</span></div>
                  <div class="">&nbsp;</div>
                  <div class=""><span class="">Privacy regarding minors/children</span></div>
                  <div class=""><span class="">We do not knowingly collect personal data from humans under the age of 18. If you are considered a minor or a child under the law, please immediately close this website and do not revisit.</span></div>
                  <div class=""><span class="">Your Acceptance of These Policies and Terms</span></div>
                  <div class="">&nbsp;</div>
                  <div class="">
                  <div><span style="color: #000000;">Your personal data will be shared with third party vendor who sends the job alert emails on behalf of JobGrabba. These emails may be sent from outside of the EEA.<br /></span></div>
                  <div><br />
                  <p>JobGrabba has safeguards in place to ensure that your personal data is treated with the adequate level of data protection. Safeguards include but are not limited to:</p>
                  <ul>
                  <li>Website encryption &ndash; JobGrabba is a secure site with a valid and active SSL Certificate. This means your information (for example passwords or credit card information) is private when it&rsquo;s sent to this site.</li>
                  <li>Website restoration &ndash; JobGrabba has the ability to restore and recover from disaster</li>
                  <li>JobGrabba has regular testing for security issues, including live security monitoring and protection from WordFence. You can find the&nbsp;<a href="https://tracking.cirrusinsight.com/6ddec7c6-4de9-41b9-9f2a-ce9bb7ad7069/wordfence-com-gdpr-dpa-pdf" target="_blank" rel="noopener">Data Processing Agreement from Wordfence</a>&nbsp;here.</li>
                  </ul>
                  </div>
                  </div>
                  <div class="">&nbsp;<strong>Our Clients and Partners include the following:</strong></div>
                  <ul>
                  <li>RS Datatech t/a UK Credit Expert&nbsp <a href="https://www.ukcreditratings.com/credit/privacy"> Privacy Policy </a>;</li>
                  <li><a href="https://www.ziprecruiter.co.uk/privacy">Zip Recruiter&nbsp;</a></li>
                  <li>Marketing Punch&nbsp;<a href="https://www.marketingpunch.co.uk/privacy-policy/">Privacy Policy<a></a></li>
                  <li>Marketing Town</li>
                  <li>Amazon Prime&nbsp;</li>
                  </ul>
                  <div class=""><span class="">By using this site, you consent to the collection and use of this information by us and to our privacy, cookie and child policy. This policy may be updated from time to time and we will post any changes on this page. We recommend you check for any updates. This policy does not apply to companies that we have no control over or do not own or to third parties.</span></div>
                  <div class="">&nbsp;</div>
                  <div class=""><span class="">Cookies and Other Storage Technologies</span></div>
                  <div class=""><span class="">Cookies are small pieces of text used to store information on web browsers. Cookies (sometimes called dropping cookies) are used to store and receive identifiers and other information on computers, phones and other electronic devices. Other technologies, including data we store on your web browser or device, identifiers associated with your device, and other software, are used for similar purposes. This cookie policy refers to all of these technologies as "cookies." We use cookies if you have visited Jobgrabba&rsquo;s website or any part thereof including our pages, posts and apps, and may include visiting other websites and apps that use our products, services.&nbsp;</span></div>
                  <p class=""><span class="">&nbsp;</span></p>
                  <div class=""><span class="">Cookies enable Jobgrabba to offer the products and services to you and to understand the information we receive about you, including information about your use of other websites and apps, whether or not you are registered or logged in. This policy explains how we use cookies and the choices you have. Except as otherwise stated in this policy, our privacy policy&nbsp;will apply to our processing of the data that we collect via cookies.</span></div>
                  <div class="">&nbsp;</div>
                  <div class=""><span class=""><strong class="">How to disable cookies on your browser:&nbsp;</strong>&nbsp;Your browser or device may offer settings that allow you to choose whether browser cookies are set and to delete them. For more information about these controls, visit your browser or device's help material. Certain parts of Jobgrabba's website may not work properly if you have disabled browser cookie use.</span></div>
                  <div class=""><span class="">The following describes how you can take control of your browser cookies. We recommend you search for the latest edition of these instructions on your relevant browser.&nbsp;</span></div>
                  <div class=""><span class=""><a class="" href="https://support.apple.com/en-gb/guide/safari/sfri11471/mac">Blocking Cookies on Safari</a></span></div>
                  <div class=""><span class=""><a class="" href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&amp;hl=en-GB">Blocking Cookies on Google Chrome</a></span></div>
                  <div class=""><span class=""><a class="" href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences">Blocking Cookies on Firefox</a></span><span class=""> &nbsp;</span></div>
                  </div>
                  </div>
                  </blockquote>
                  </div>
                  <div class="col-sm-4">&nbsp;</div>
                  </div>
                  </div>
        <!-- footer start-->
        
                <div class="col-sm-4">
            
                </div>
              
            
              <div class="container">
                    <div class="row">
                      <div class="col-sm-4">
                        
                      </div>
                      <div class="col-sm-4">
                        <div class="footer1">
                          <div class="card-footer text-muted">
                            <p><a color="blue" href="/privacy">Privacy Policy &nbsp </a>
                              <a href="http://tandc">Terms and Conditions &nbsp </a>
                              <a href="/aboutus">About us &nbsp </a></p>
                            <p><a href="http://www.almondmedia.co.uk/contact-us/">Contact us &nbsp</a>
                              <a href="http://www.almondmedia.co.uk/contact-us/">Advertise</a></p>
                          </div>
                        </div>
                
                      </div>
                      <div class="col-sm-4">
                          <img src="images/AMLogo.png" height="75" width="100">
                      </div>
                    </div>
                  </div>
            <!--footer end  -->
        </body>
        </html>