<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/style.css">
       
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-147951644-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-147951644-1');
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-5395995593492894",
    enable_page_level_ads: true
  });
</script>
<!-- push notification connection -->
<!-- <script src="javascripts/main.js"></script> -->

<!-- get ip address -->
<script type="application/javascript">
      var ipa;
      function getIP(json) {
          ipa = json.ip;
      }
      function setIp(){
          document.getElementById('ipaddress').value = ipa;
          console.log(ipa)
      }
  </script>
  <script type="application/javascript" src="https://api.ipify.org?format=jsonp&callback=getIP"></script>
</head>
<body  onload="setIp()">


  <!-- header -->
  <div class="row">
      <div class="col-md-4">
          <!-- <a href="/"><button id="registerButton12"> See All Jobs </button></a> -->
      </div>
      <div class="col-md-4">
          <nav class="navbar navbar-expand-lg navbar-light bg-white">
              <img id="rightFlagNav"src="images/logojobgrabba.png" width="200" id="flag" position="right">
            </nav>
      </div>
      <div class="col-md-4">
          <img src="https://cdn2.iconfinder.com/data/icons/flags/flags/48/united-kingdom-great-britain.png" id="flag1">
      </div>
    </div>
 
    <!-- registration -->
  <div id="regPage">
  <div class="container">
    <div class="form-row">
      <div class="form-group d-none d-sm-block col-md-4">
        <div class="brandpromo2">
          <div class="card" style="width: 18rem;" id="col1Img">
          <!-- <img src="images/lidl200x200.png"  class="card-img-top" alt="..."  style="display: inline-block hidden-xs";> -->
           <div class="card-body">
             <!-- <h5 class="card-title">Find and apply for your next role here</h5>
             <p class="card-text">Search our Jobdatabase and find your next role today by registering with jobgrabba.com now. We cover all types of roles ranging from retail to IT, Marketing, Sales, Restaurant and gig economy jobs.</p> -->
            </div>
          </div>
         </div>
        </div>

     <div class="form-group col-md-4">
      <div class="Regform" postition="center">
        <form style='display:inline;' action="/signupsendy" method="POST">
                <div class="form-row">
                    <h5 id="regCTA" style="text-align: center">Register for free today</h5><br>
                    <P id="alreadyRegistered" style="text-align: center"><a href="/">Already registered? Click here</a></P>
                    </div>
                    
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" id="inputEmail4" name="email" placeholder="Email"required>
                      </div>
                    <div class="form-group col-md-6">
                            <label for="inputEmail4">First Name </label>
                            <input type="text" class="form-control" id="inputEmail4" name="name" placeholder="First Name">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Last Name</label>
                        <input type="text" class="form-control" id="inputEmail4" name="lastName" placeholder="Last Name">
                    </div>
                    
                    <div class="form-group col-xs-3 col-md-3">
                        <label for="inputEmail4" style="font-size: 11px">Date of Birth</label>
      
                        <select class="custom-select" id="inputGroupSelect01" name="dob_day"> 
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                      </select>
                    </div>
                    <div class="form-group col-xs-3 col-md-3">
                      <label for="inputEmail4"> &nbsp; </label>
                        <select class="custom-select" id="inputGroupSelect01" name="dob_month"> 
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                          <option value="10">10</option>
                          <option value="11">11</option>
                          <option value="12">12</option>
                      </select>
                    </div>
                    <div class="form-group col-xs-5 col-md-6">
                      <label for="inputEmail4 hidden">&nbsp;</label>
                      <select class="custom-select" id="inputGroupSelect01" name="dob_year"> 
                        <option value="2001">2001</option>
                        <option value="2000">2000</option>
                        <option value="1999">1999</option>
                        <option value="1998">1998</option>
                        <option value="1997">1997</option>
                        <option value="1996">1996</option>
                        <option value="1995">1995</option>
                        <option value="1994">1994</option>
                        <option value="1993">1993</option>
                        <option value="1992">1992</option>
                        <option value="1991">1991</option>
                        <option value="1990">1990</option>
                        <option value="1989">1989</option>
                        <option value="1988">1988</option>
                        <option value="1987">1987</option>
                        <option value="1986">1986</option>
                        <option value="1985">1985</option>
                        <option value="1984">1984</option>
                        <option value="1983">1983</option>
                        <option value="1982">1982</option>
                        <option value="1981">1981</option>
                        <option value="1980">1980</option>
                        <option value="1979">1979</option>
                        <option value="1978">1978</option>
                        <option value="1977">1977</option>
                        <option value="1976">1976</option>
                        <option value="1975">1975</option>
                        <option value="1974">1974</option>
                        <option value="1973">1973</option>
                        <option value="1972">1972</option>
                        <option value="1971">1971</option>
                        <option value="1970">1970</option>
                        <option value="1969">1969</option>
                        <option value="1968">1968</option>
                        <option value="1967">1967</option>
                        <option value="1966">1966</option>
                        <option value="1965">1965</option>
                        <option value="1964">1964</option>
                        <option value="1963">1963</option>
                        <option value="1962">1962</option>
                        <option value="1961">1961</option>
                        <option value="1960">1960</option>
                        <option value="1959">1959</option>
                      </select>
                    </div>
                  
                <div class="form-group col-md-6" >
                  <label for="inputAddress">Address</label>
                  <input type="text" class="form-control" id="inputAddress" placeholder="Address" name="address1">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputAddress2">Address 2</label>
                  <input type="text" class="form-control" id="inputAddress2" placeholder="Address 2"name="address2">
                </div>
                
                <div class="form-group col-md-6">
                        <label for="inputCity">City</label>
                        <input type="text" class="form-control" id="inputCity" name="city">
                      </div>
                <div class="form-group col-md-6">
                      <label for="inputZip">Post Code / Zip </label>
                      <input width="200" type="text" class="form-control" id="inputZip" name="postCode">
                      </div>
                <div class="form-group col-md-12">
                    <label for="inputPhone">Phone</label>
                    <input id="inputPhone" class="form-control" name="phone">
                  </div>
                <div class="form-group col-md-12">
                  <div class="form-check">
                  <p> <input class="form-check-input" type="checkbox" id="gridCheck" name="tickYes" value="Yes" onclick="getValue();return true;" required/>
                            <label class="form-check-label" for="gridCheck"> Yes &nbsp &nbsp &nbsp
                    <input class="form-check-input" type="checkbox" id="gridCheck1" name="tickNo" value="No" onclick="getValue();">
                            <label class="form-check-label" for="gridCheck1"> no</p> 
                      By signing up here you agree to our Privacy Policy and Terms and Conditions and to recieve communicaations by email, phone and sms from jobgrabba
                    </label>
                    <br>
                  </div>
                </div>
                  <div class="form-group col-md-12">
                      <div class="form-check">
                         <p><input class="form-check-input" type="checkbox" id="gridCheck3" name="tickYes1" value="Yes" onclick="getValue();return true;" required/>
                                  <label class="form-check-label" for="gridCheck3"> Yes &nbsp &nbsp &nbsp
                          <input class="form-check-input" type="checkbox" id="gridCheck4" name="tickNo1" value="No" onclick="getValue()">
                                  <label class="form-check-label" for="gridCheck4"> No </p>
                            By joining you agree to recieve information and offers by email, phone, sms & post from 3rd parties.
                    </label>

                </div>
                </div>
                <img src="/images/BISAlogo.png" height="50" width="100">
                <div class="form-group col-md-12">
                    <div class="form-check">
                       <!-- <p><input class="form-check-input" type="checkbox" id="gridCheck3" name="tickYes3" value="Yes" onclick="getValue();return true;" />
                                <label class="form-check-label" for="gridCheck3"> Yes &nbsp &nbsp &nbsp
                        <input class="form-check-input" type="checkbox" id="gridCheck4" name="tickNo1" value="No" onclick="getValue()">
                                <label class="form-check-label" for="gridCheck4"> No </p>
                                  <p style="font-size:12px">Don’t miss out – get your quote today! Tick yes to receive a call from one of our UK-based insurance specialists.</p> -->
                                  <P style="font-size:10px">
                                    Peace of mind for you and your loved ones from as little as 13p per day!</P>
                                  <ul style="font-size:10px">
<li>Guaranteed acceptance for UK residents aged 50-80
  <li> No health or medical questions 
    <li>Make changes with no fees
      <li>Free Will Kit worth £150 
        <li>Free £300 Funeral Benefit Option
</ul>
<p style="font-size:12px">Don’t miss out – get your quote today! Tick yes to receive a call from one of our UK-based insurance specialists.</p>
<p><input class="form-check-input" type="checkbox" id="gridCheck3" name="tickYes3" value="Yes" onclick="getValue();return true;" />
  <label class="form-check-label" for="gridCheck3"> Yes &nbsp &nbsp &nbsp
<input class="form-check-input" type="checkbox" id="gridCheck4" name="tickNo1" value="No" onclick="getValue()">
  <label class="form-check-label" for="gridCheck4"> No </p>
    
<P style="font-size:8px">
*Based on a 50-year-old with £1,000 of cover. View full <a href="https://www.britishseniors.co.uk/over-50-life-insurance/"> terms and conditions.

 </a>
</P>
           </label>

              </div>
              </div>
                <div class="form-group col-md-12">
                    <div class="form-check">
                      
<!--                     
                      <p><input class="form-check-input" type="checkbox" id="gridCheck3" name="tickYes2" value="Yes" onclick="getValue();return true;"/>
                          <label class="form-check-label" for="gridCheck5"> Yes &nbsp &nbsp &nbsp
                          <input class="form-check-input" type="checkbox" id="gridCheck4" name="tickNo2" value="No" onclick="getValue()">
                          <label class="form-check-label" for="gridCheck6"> No </p>
                            <P>Would you like a 30-day FREE trial? </p>
                              <img src="/images/amazonprime.jpg" height="35" width="70">
                            <p style='font-size: 12px'>Amazon Prime - FREE 30 day trial</p>
                            <p style="font-size: 10px">Enjoy unlimited streaming of thousands of movies & TV shows on your tablet, smart TV, game consoles, laptop or mobile phones. You can also download videos on your mobile or tablet to watch on the go.</p> 
                            <br><p style="font-size: 10px">Watch out for the welcome email and click through to take up the offer! <a href="https://www.amazon.co.uk/gp/help/customer/display.html?nodeId=200198240">Terms and Conditions</p></a>
                          </label> -->

                          <!-- hidden values parsed through -->
                          <input id="ipaddress" maxlength="20" name="ipaddress" size="20" type="hidden" value=" "></input>
                          <input type="hidden" type="text" id="source" name="source" value="Starbuckspage">
                
                </div>
                </div>
                </div>
                   <button type="submit" class="btn btn-primary" style="margin-left: 130px" onsubmit="getValue()">Sign in</button>
              </form>          
        </div>
        <!-- form ends here -->
    <script>
function getValue(){
    const checks = document.getElementById("gridCheck");
     gdpr = checks.value;
     console.log(gdpr);
     const checks1 = document.getElementById("gridCheck3");
     gdpr1 = checks1.value;
    console.log(gdpr1);
    const dobDay = document.getElementById('form_dob_day')
     dayInput = dobDay.value;
     const dobMonth = document.getElementById('form_dob_month')
    monthInput = dobMonth.value;
     const dobYear = document.getElementById('form_dob_year')
     yearInput = dobYear.value;
     const DOB = dayInput+' ' +monthInput+' '+yearInput;
  
  }
  getValue();
    </script>
  </div>
  <!-- Advertisement -->
  <div class="form-group col-md-4">
    <a href="	https://pjtharness.ckmhop.com/?a=1&c=141&s1=regpage" > <img src="images/UKCreditRatings.png"></a>
    <br>
  </br>
    <!-- Information what is a social score -->
    <!-- <div class="card text-white bg-info mb-3" style="max-width: 18rem; text-align: center" id="infoCard">
    <!-- <div class="card-body bg-info mb-3">
     <!-- <h5 class="card-title">What is a Social Score?</h5> -->
      <!-- <p class="card-text">Your social score is designed to give you an indication of your overall social media performance from the perspective of a potential employer or similar influencer.The score itself has no impact on you; it's the data and information that goes into compiling your score that's important.</p> -->
   </div> 
   </div> 
  </div>
 

 
 
    <div class="container">
        <div class="row">
          <div class="col-md-4">
             
          </div>
          <div class="col-md-4">
            <div class="footer1">
              <div class="card-footer text-muted">
                <p><a color="blue" href="/privacy">Privacy Policy &nbsp </a>
                  <a href="/tandc">Terms and Conditions &nbsp </a>
                  <a href="/aboutus">About us &nbsp </a></p>
                <p><a href="http://www.almondmedia.co.uk/contact-us/"">Contact us &nbsp</a>
                  <a href="http://www.almondmedia.co.uk/contact-us/"">Advertise</a></p>
              </div>
            </div>
    
          </div>
          <div class="col-md-4">
              <img src="images/AMLogo.png" height="75" width="100">
          </div>
        </div>
      </div>
</body>
</html>