
<href>
  <head>
          
              <meta charset="UTF-8">
              <meta name="viewport" content="width=device-width, initial-scale=1.0">
              <meta http-equiv="X-UA-Compatible" content="ie=edge">
              <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
                <link rel="stylesheet" href="/stylesheets/style.css">
                <title><%= title %>;</title>
                <!-- Event snippet for SignupJobgrabba.com conversion page -->
          <script>
            gtag('event', 'conversion', {'send_to': 'AW-721106018/rsRaCL3bqasBEOLo7NcC'});
          </script>
                   <!-- Global site tag (gtag.js) - Google Analytics -->
                   <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-147951644-1"></script>
                   <script>
                     window.dataLayer = window.dataLayer || [];
                     function gtag(){dataLayer.push(arguments);}
                     gtag('js', new Date());
                   
                     gtag('config', 'UA-147951644-1');
                   </script>
          <!-- Facebook Pixel Code -->
          <script>
              !function(f,b,e,v,n,t,s)
              {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
              n.callMethod.apply(n,arguments):n.queue.push(arguments)};
              if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
              n.queue=[];t=b.createElement(e);t.async=!0;
              t.src=v;s=b.getElementsByTagName(e)[0];
              s.parentNode.insertBefore(t,s)}(window, document,'script',
              'https://connect.facebook.net/en_US/fbevents.js');
              fbq('init', '280892588917611');
              fbq('track', 'PageView');
            </script>
            <noscript><img height="1" width="1" style="display:none"
              src="https://www.facebook.com/tr?id=280892588917611&ev=PageView&noscript=1"
            /></noscript>
            <!-- End Facebook Pixel Code -->
          </head>    
          
          <body>
  
                    <nav class="navbar navbar-expand-lg navbar-light bg-white">
                      <div class="col-md-4">
                      </div>
                      <div class="col-md-4">
                        <img src="images/logojobgrabba.png" width="200" id="flag" style="margin: 0px 100px">
                      </div>
                      <div class="col-md-4">
                      </div>
                    </nav>
               <!-- intro    -->
               <div class="container">
                <div class="row">
                  <div class="col-md-4">
                   </div>
                   <div class="col-md-4">
                     <h5 style="text-align: center">Thanks for registering. Why not check out some of our offers </h5>
                    </div>
                   <div class="col-md-4">
                  </div>
                  </div>
                </div>
  
                  <!-- nav end -->
          <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;" id="coregInLine">
                      <img src="/images/lottoland.png" class="card-img-top" alt="..." class="img-responsive" height="153px">
                        <div class="card-body">
                          <h3 class="card-title">Lottoland HORSESHOE Win up to £1,000</h3>
                          <p class="card-text">GET 20 SCRATCHCARDS FOR ONLY £2 PLUS 20 FREE STARBURST SPINS. 18+ New players only.
                                      BeGambleAware.org | See <a href="https://pjtharness.ckmhop.com/?a=1&amp;c=16&amp;p=m&amp;s1=">full T&amp;Cs apply</a></p>
                        <a href="https://pjtharness.ckmhop.com/?a=1&amp;c=16&amp;p=m&amp;s1=" class="btn btn-primary">click here</a>
                      </div>
                    </div>
                  </div>
                
  
              <div class="col-md-4">
                <div class="card" style="width: 18rem;" id="coregInLine">
                  <img src="/images/lottoland.png" class="card-img-top" alt="..." class="img-responsive" height="153px">
                    <div class="card-body">
                      <h3 class="card-title">Lottoland HORSESHOE Win up to £1,000</h3>
                      <p class="card-text">GET 20 SCRATCHCARDS FOR ONLY £2 PLUS 20 FREE STARBURST SPINS. 18+ New players only.
                                  BeGambleAware.org | See <a href="https://pjtharness.ckmhop.com/?a=1&amp;c=16&amp;p=m&amp;s1=">full T&amp;Cs apply</a></p>
                    <a href="https://pjtharness.ckmhop.com/?a=1&amp;c=16&amp;p=m&amp;s1=" class="btn btn-primary">click here</a>
                  </div>
                </div>
              </div>
            
              <div class="col-md-4">
                  <div class="card" style="width: 18rem;" id="coregInLine" width="350" height="153px">
                      <a href="https://pjtharness.ckmhop.com/?a=1&amp;c=7&amp;p=c&amp;s1="><img src="/images/karamba.png" class="card-img-top" alt="..." class="img-responsive"></a> 
                      <div class="card-body">
                          <a href="https://pjtharness.ckmhop.com/?a=1&amp;c=7&amp;p=c&amp;s1="> <h3 class="card-title">Here's a bonus deal for you too! Up to £50 bonus + 100 spins</h3></a>
                        <p class="card-text">Bonus Policy and Terms of Service apply. New depositing players only. Min. deposit: 10£. Max. bonus: 50£. Offer valid on first deposit.  
                            See <a href="https://www.karamba.com/info/bonus-policy/?lpr=Adoric">full terms here.</a></p>
                            <a href="https://pjtharness.ckmhop.com/?a=1&amp;c=7&amp;p=c&amp;s1=" class="btn btn-primary">click here</a>
                      </div>
                  </div> 
              </div>
            </div>
          <!-- sign up row -->
            <div class="row">
                <div class="col-md-4">
                </div>
              <div class="col-md-4">
                <a href="https://pjtharness.ckmhop.com/?a=1&amp;c=7&amp;p=c&amp;s1=" id="applyNowButton"class="btn btn-primary">Apply now</a>
              </div>
              <div class="col-md-4">
                </div>
            </div>
  
            
          
          <!-- footer start-->
          <div class="container">
              <div class="row">
                <div class="col-md-4">
                   
                </div>
                <div class="col-md-4">
                  <div class="footer1">
                    <div class="card-footer text-muted">
                      <p><a color="blue" href="/privacy">Privacy Policy &nbsp </a>
                        <a href="/tandc">Terms and Conditions &nbsp </a>
                        <a href="/aboutus">About us &nbsp </a></p>
                      <p><a href="http://www.almondmedia.co.uk/contact-us/"">Contact us &nbsp</a>
                        <a href="http://www.almondmedia.co.uk/contact-us/"">Advertise</a></p>
                    </div>
                  </div>
          
                </div>
                <div class="col-md-4">
                    <img src="images/AMLogo.png" height="75" width="100">
                </div>
              </div>
            </div>
          </div>
        </body>
        </href>    
          
          
          
          <!-- ///<div class="container-fluid row" style="text-align: center">
                  
              <h3 style="text-align: center">Pleas activate your email now!
                   for the latest great jobs and other special offers from the newsgrabba team please ensure you activate your email and be sure to upload your CV too so that potential employers can find you</h3>
                   <h5> Here are some other offers </h5>
              </div> -->