
<href>
  <head>
          
              <meta charset="UTF-8">
              <meta name="viewport" content="width=device-width, initial-scale=1.0">
              <meta http-equiv="X-UA-Compatible" content="ie=edge">
              <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
                <link rel="stylesheet" href="/stylesheets/style.css">
                <title><%= title %>;</title>
                <!-- Event snippet for SignupJobgrabba.com conversion page -->
          <script>
            gtag('event', 'conversion', {'send_to': 'AW-721106018/rsRaCL3bqasBEOLo7NcC'});
          </script>
                   <!-- Global site tag (gtag.js) - Google Analytics -->
                   <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-147951644-1"></script>
                   <script>
                     window.dataLayer = window.dataLayer || [];
                     function gtag(){dataLayer.push(arguments);}
                     gtag('js', new Date());
                   
                     gtag('config', 'UA-147951644-1');
                   </script>
          <!-- Facebook Pixel Code -->
          <script>
              !function(f,b,e,v,n,t,s)
              {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
              n.callMethod.apply(n,arguments):n.queue.push(arguments)};
              if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
              n.queue=[];t=b.createElement(e);t.async=!0;
              t.src=v;s=b.getElementsByTagName(e)[0];
              s.parentNode.insertBefore(t,s)}(window, document,'script',
              'https://connect.facebook.net/en_US/fbevents.js');
              fbq('init', '280892588917611');
              fbq('track', 'PageView');
            </script>
            <noscript><img height="1" width="1" style="display:none"
              src="https://www.facebook.com/tr?id=280892588917611&ev=PageView&noscript=1"
            /></noscript>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

            <!-- End Facebook Pixel Code -->
     
          
          </head>    
          
          <body>
  
                    <nav class="navbar navbar-expand-lg navbar-light bg-white">
                      <div class="col-md-4">
                      </div>
                      <div class="col-md-4">
                        <img src="images/logojobgrabba.png" width="200" id="flag" style="margin: 0px 100px">
                      </div>
                      <div class="col-md-4">
                      </div>
                    </nav>
               <!-- intro    -->
               <div class="container">
                <div class="row">
                  <div class="col-md-4">
                   </div>
                   <div class="col-md-4">
                     <h5 style="text-align: center">Thanks for registering. Why not check out some of our offers </h5>
                    </div>
                   <div class="col-md-4">
                  </div>
                  </div>
                </div>
  
                  <!-- nav end -->
          <div class="container">
            <div class="row">
              <div class="form-group col-md-4">
                <div class="form-check">
                      <img src="/images/amazonprime.jpg" height="35" width="70">
                    <p style='font-size: 12px'>Amazon Prime - FREE 30 day trial</p>
                    <p style="font-size: 10px">Enjoy unlimited streaming of thousands of movies & TV shows on your tablet, smart TV, game consoles, laptop or mobile phones. You can also download videos on your mobile or tablet to watch on the go.</p> 
                    <br><p style="font-size: 10px">Watch out for the welcome email and click through to take up the offer! <a href="https://www.amazon.co.uk/gp/help/customer/display.html?nodeId=200198240">Terms and Conditions</p></a>
                    <P>Would you like a 30-day FREE trial? </p>
                  <p><input class="form-check-input" type="checkbox" id="gridCheck3" name="tickYes2" value="Yes">
                      <label class="form-check-label" for="gridCheck5"> Yes &nbsp &nbsp &nbsp
                      <input class="form-check-input" type="checkbox" id="gridCheck4" name="tickNo2" value="No">
                      <label class="form-check-label" for="gridCheck6"> No </p>
                  
                      </label>
                      <input id="ipaddress" maxlength="20" name="ipaddress" size="20" type="hidden" value=" "></input>
                      <input type="hidden" type="text" id="source" name="source" value="basicpage">
            </div>
            </div>
                
  
            <div class="col-md-4">
              <div class="form-check">
                <img src="/images/NG.png" height="70" width="140">
                <img src="/images/adituslogo.png" height="25" width="50">
                <P>Would you like to be contacted by ADITUS, for a free copy of National Geographic Traveller magazine? </p>
                <p><input class="form-check-input" type="checkbox" id="gridCheck5" name="tickYes6" value="Yes"/>
                  <label class="form-check-label" for="gridCheck5"> Yes &nbsp &nbsp &nbsp
                    <input class="form-check-input" type="checkbox" id="gridCheck6" name="tickNo7" value="No">
                    <label class="form-check-label" for="gridCheck6"> No </p>
                <h5 id="NGtitle"> National Geographic </h5>
                <p style="font-size: 10px">EAditus has negotiated the best subscriptions deals for over 20 years. Exclusive
                  offers and deals are available to help save you money on your favourite titles!</p>
                <p style="font-size: 10px"><a href="http://www.aditus.uk.com/privacy-policy/">Terms and Conditions
                </p></a>
                </label>
              </div>
            </div>
            
              <div class="col-md-4">
                  <div class="form-check">
                      <img src="/images/dealcheckerlogo.png" height="70" width="140">
                      <img src="/images/adituslogo.png" height="25" width="50">
                      <P>Never pay a full price for your holiday again with amazing FREE email travel updates from dealchecker.co.uk! </p>
             
                      <h5 id="NGtitle"> National Geographic </h5>
                      <p style="font-size: 10px">Here at dealchecker, we search low and high to find you the best deals on the web. Every deal is thoroughly researched to ensure that it's a real bargain with no hidden costs.</p>
                      <p style="font-size: 10px">Click YES to receive FREE emails from dealchecker loaded with great value travel offers.</p>
                      <p><input class="form-check-input" type="checkbox" id="gridCheck7" name="tickYes7" value="Yes" />
                        <label class="form-check-label" for="gridCheck5"> Yes &nbsp &nbsp &nbsp
                          <input class="form-check-input" type="checkbox" id="gridCheck8" name="tickNo8" value="No">
                          <label class="form-check-label" for="gridCheck6"> No </p>
                      <p style="font-size: 10px"><a href="https://www.dealchecker.co.uk/site/email-privacy.html">Terms and Conditions
                      </p></a>
                      </label>
            
                    </div>
              </div>
            </div>
          <!-- sign up row -->
            <div class="row">
                <div class="col-md-4">
                </div>
              <div class="col-md-4">
                <button id="applyNowButton" class="btn btn-primary" onclick="sendSubscriptions();"
                value="Redirect">Apply now</button>              </div>
              <div class="col-md-4">
                </div>
            </div>
  
            
          
          <!-- footer start-->
          <div class="container">
              <div class="row">
                <div class="col-md-4">
                   
                </div>
                <div class="col-md-4">
                  <div class="footer1">
                    <div class="card-footer text-muted">
                      <p><a color="blue" href="/privacy">Privacy Policy &nbsp </a>
                        <a href="/tandc">Terms and Conditions &nbsp </a>
                        <a href="/aboutus">About us &nbsp </a></p>
                      <p><a href="http://www.almondmedia.co.uk/contact-us/"">Contact us &nbsp</a>
                        <a href="http://www.almondmedia.co.uk/contact-us/"">Advertise</a></p>
                    </div>
                  </div>
          
                </div>
                <div class="col-md-4">
                    <img src="images/AMLogo.png" height="75" width="100">
                </div>
              </div>
            </div>
          </div>

                 <!-- start national geograpic coreg -->
<script>

    function sendSubscriptions() {
                var checked = $("#gridCheck5").val();
                if (checked == true) {
                  var settings = {
                    "async": true,
                    "crossDomain": true,
                    "data": userInfo,
                    "url": "https://trk.m-t.io/action?_tec=0&_tep=6191767533780992",
                    "method": "GET",
                    "headers": {
                      "Accept": "*/*",
                      "Host": "trk.m-t.io",
                      "Accept-Encoding": "gzip, deflate",
                      "Connection": "keep-alive",
                    }
                  };
                  $.ajax(settings).done(function (response) {
                    console.log(response);
                  });

                  var tickYes2 = $("#gridcheck3").val();
                  if (tickYes2 == true){
    console.log("lastname:"+lastName);
    // send request to other service
    var options2 = {
      method: 'GET',
      async: true,
      crossDomain: true,
      url: 'https://trk.m-t.io/action?_tec=0&_tep=6091614734909440',
      qs:
      {
        firstname : name,
        email : email,
        lastname : lastName,
        mobile : phone,
        subAffiliate : listId
       
      }
    };
var dealChecker = $("#gridcheck7").val();
if(dealChecker == true){
    var DCSettings = {
  async: true,
  crossDomain: true,
  url: "https://lead365.leadbyte.co.uk/api/submit.php?returnjson=yes&campid=DEAL-CHECKER&sid=SID492&email=leadbyte@aol.com&title=Mr&firstname=David&lastname=Beckham&street1=Hope%20Street&towncity=Chester&postcode=CH48BU&ipaddress=86.156.88.22&source=www.mydomain.com&contactemail=1&contactfax=1&contactmail=1&contactphone=1&contactsms=1&optinurl=INSERTVALUE&optindate=INSERTVALUE&reference=INSERTVALU",
  method: "GET",
  qs:
{
  title:title,
  firstname : name,
  lastname : lastName,
        email : email,
        street1: address1,
        towncity:city,
        postcode,
        mobile : phone,
        subAffiliate : listId,
        source:listname,
        reference:source,
   
  }
}
}

$.ajax(settings).done(function (response) {
  console.log(response);
});
  
    request(options2, function (error, response, body) {
      if (error) {
        console.log("request to amazon sent with error");
        console.log("body:"+body);
        //res.status(400).send(error);
      } else {
        //res.set('Content-Type', 'text/html');
        //res.send(new Buffer(body));
        console.log("request to amazon sent correctly");
        console.log("body:"+body);
        //res.send(body)
      }
    });
  }
                } 
                window.location = "createuser"; 
                          
              }
              </script>
              <!-- end nat geo coreg -->
        </body>
        </href>    
          
          
          
          <!-- ///<div class="container-fluid row" style="text-align: center">
                  
              <h3 style="text-align: center">Pleas activate your email now!
                   for the latest great jobs and other special offers from the newsgrabba team please ensure you activate your email and be sure to upload your CV too so that potential employers can find you</h3>
                   <h5> Here are some other offers </h5>
              </div> -->