
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
              <link rel="stylesheet" href="/stylesheets/style.css">
              <title><%= title %></title>
              <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-147951644-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-147951644-1');
</script>

        
        
        </head>
        <body>
              
                <div class="container-fluid row" style="text-align: center">
                        <nav class="navbar navbar-expand-lg navbar-light bg-white">
        
                        <div class="col-sm-4">
                        
                               
                                </div>
                                <div class="col-sm-4">
                                        <img src="images/logojobgrabba.png" width="200" id="flag">
                    
        
                                    </div>
                                    <div class="col-sm-4">
                                      
                      
                                        </div>
                                    </div>
                              </nav>
        
            <script>
            
        
                </script>
                <!-- head end  -->

                <!-- body start -->
                <blockquote class="protonmail_quote">
                    <p><strong>Terms &amp; Conditions: jobgrabba.com</strong></p>
                    <p>&nbsp;</p>
                    <p>These Terms and Conditions (hereinafter also known as T &amp; Cs, Terms, Conditions) outline your allowable use of and interaction with jobgrabba.com, Jobgrabba&rsquo;s website/s as well as Jobgrabba&rsquo;s app/s (application/s).</p>
                    <p>&nbsp;</p>
                    <p><u><a href="http://jobgrabba.com/">jobgrabba.com</a></u> is a brand of Almond Media Group Ltd also trading as Almond Media and may be referred to as these interchangably. </p>
                    <div><a href="http://jobgrabba.com/"><u>jobgrabba.com</u></a> may also be referred to as Jobgrabba and will also be referred to as &ldquo;we&rdquo; and &ldquo;us&rdquo; &ldquo;our&rdquo; and &ldquo;company&rdquo;.&nbsp; When we refer to &ldquo;you&rdquo;, with regard to any breach of these T &amp; Cs, this means you as an individual acting on behalf of yourself, the company or organisation you work for or with, or represent. Therefore by using this site, &ldquo;you&rdquo; in its entirety as outlined above are equally liable under the law should these Terms and Conditions be breached.</div>
                    <p>Please read these T &amp; Cs carefully. If for any reason whatsoever you do not agree or understand these Terms, please do not use the company website and/or company app/s. Please do not subscribe, register or interact in any way via our website or app. Instead please leave the website or app immediately. Thank you.</p>
                    <p>&nbsp;</p>
                    <p><strong>Age and Minors</strong></p>
                    <p>&nbsp;</p>
                    <p>If you are under the age of 18 years (or if you are considered a minor in your country, state, or region even if over 18 years of age), you may not use this website or app. Please therefore leave this website and/or app immediately. Thank you.</p>
                    <p>&nbsp;</p>
                    <p><strong>Usage</strong></p>
                    <p>&nbsp;</p>
                    <p>Jobgrabba&rsquo;s websites and apps are provided to you subject to these T &amp; Cs therefore by using the website or app,&nbsp; you agree to be bound by these T &amp; Cs and by our Privacy Policy. You may also wish to view our cookie policy before proceeding.</p>
                    <p>If you are given private access to any page on our website/s or app/s wherein a login or password is provided or required, these are to be considered private pages and you may not share your login or password with any other individual person or company.&nbsp; By accepting these T &amp; Cs, you understand and agree the information contained within such pages is to remain confidential &ldquo;for you eyes only&rdquo; and is subject to copyright.</p>
                    <p>You must not use the website/s or app/s for any of the following reasons and/or in any way that constitutes a criminal offence. This includes but is not limited to:</p>
                    <p>&nbsp;</p>
                    <p>Transmitting material that may lead to any conduct that constitutes a criminal offence, or breaches any applicable laws, regulations and/or code of practice within the UK, European Union, Australia, United States of America, Canada and within International Law. Propogate, spread, publish, advertise or disseminate any Harassing, Threatening, Harmful, Obscene, Libellous, Abusive, Vulgar, Hateful, Discriminatory and/or other objectionable material. This includes attempted restriction of human rights under International and UK Law. We conduct periodic surveillance of our site to address any potential breaches of our Terms.</p>
                    <p>&nbsp;</p>
                    <p>You must not misuse our website/s or app/s by knowingly using piracy tactics of any sort whatsoever or by introducing distributed denial of service attacks (DoS), worms, viruses, trojans, logic bombs or other material which is malicious in any manner.&nbsp; You must not copy any part of our website or app (these are copyright protected). Furthermore, you must not attempt to gain unauthorised access to our websites or apps nor any servers we may use by any means or plant any code whatsoever on our website/s or app/s.</p>
                    <p>&nbsp;</p>
                    <p>Interfering with or restricting any individual&rsquo;s (aged 18 or over subject to the Terms), any company&rsquo;s, organisation&rsquo;s or entity&rsquo;s enjoyment and/or use of this website or app in any way.</p>
                    <p>&nbsp;</p>
                    <p><strong>Our right to monitor</strong></p>
                    <p>&nbsp;</p>
                    <p>We reserve the right and may, under any circumstances, monitor your interaction with and/or communication with or on our website/s, our app/s, and with any third party via our website or app.&nbsp; By using our website or app, you agree to these Terms, you acknowledge, understand and agree this monitoring.&nbsp; We do this for safety, security and our business reasons to enhance our services and your usage of this website or app.&nbsp; We conduct periodic ongoing surveillance of our site.</p>
                    <p>&nbsp;</p>
                    <p><strong>Website and/or App Availability</strong></p>
                    <p>&nbsp;</p>
                    <p>We make every reasonable effort to ensure the website and/or app is available for use and your data is secure as well as the services on our website and/or app. However we, like all other companies, organisations, entities including top Infosec organisations cannot categorically promise absolutely security despite our best efforts.&nbsp; Therefore we cannot be held liable for any such breach beyond our reasonable control. We may from time conduct maintenance or updates on our website/s and/or app/s and therefore our website/s and/or apps may not be available for a short period.</p>
                    <p>If you notice any breach of our Terms or misuse of our website/s and/or app/s, please let us know: <a href="mailto:admin@almondmedia.co.uk">admin@almondmedia.co.uk</a>.&nbsp; By using our website/s and or app/s, under these Terms, it is your duty to advise us of any breach or misuse immediately upon your discovery.</p>
                    <p>&nbsp;</p>
                    <p><strong>Liability</strong></p>
                    <p>Our liability cannot include any consequential loss, damage, whether inadvertent, direct, or by indirect use or damage incurred by any user or third party n connection with our website/s and/or app/s or in connection with the inability to use, the use or results of the use of our website, any and all third party websites linked to our website/s and/or app/s and any materials posted on it, including, without limitation any liability for any business interruption, any loss of data, loss of profits, loss of business, loss of income or revenue, loss of manpower hours including consultant/contractor hours, employee hours,&nbsp; management hours and any and all manpower hours, anticipated savings or contracts, loss of goodwill, loss of website/s and/or app/s, loss of any tangible property nor any unforeseen or foreseen breach of our Terms whatsoever.&nbsp; We strongly recommend you use due diligence when applying for third party jobs as we cannot be held liable for these postings.&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>IP (a.k.a Intellectual Property)</p>
                    <p>Everything on our website/s and app/s are subject to Copyright, Trademarks and Patents Law and International Copyright Law. You may not copy or&nbsp; reproduce in any manner or form, any part of our website/s and/or apps or Intellectual Property. If you breach these Terms, we reserve the right to take any and all action whatsoever we decide to choose, now or at any point in the future.</p>
                    <p>&nbsp;</p>
                    <p>Links To Other Web Sites</p>
                    <p>Our website/s and/or app/s may contain links to third-party web sites or services that are not owned or controlled by Jobgrabba.</p>
                    <p>Jobgrabba has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that Jobgrabba shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services. Please read our our complete T &amp; Cs. We strongly recommend you use due diligence when applying for third party jobs via our website.&nbsp;</p>
                    <p>&nbsp;</p>
                    <p><strong>Changes</strong></p>
                    <p>&nbsp;</p>
                    <p>We reserve the right to make changes and updates to these T &amp; Cs at any time for any reason at our sole discretion for any reasons we deem necessary. We therefore recommend checking frequently for any updates and changes. &nbsp;Frequently equates to daily on our website/s and app/s.</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>Your Acceptance of These T &amp; Cs</p>
                    <p>&nbsp;</p>
                    <p>By using this website and/or app, it is absolutely understood that you agree to these T &amp; Cs, our Privacy Policy and that these have been read, understood and accepted. If you do not accept or understand any part of the T &amp; Cs or our Privacy Policy, please do not use or visit the website or app. but instead, leave the website or app immediately.</p>
                    <p>&nbsp;</p>
                    <p>Contact Us</p>
                    <p>For notification of any breach or misuse of these Terms, please contact us at <a href="mailto:admin@almondmedia.co.uk">admin@almondmedia.co.uk</a> &nbsp; Thank You.</p>
                    <p>&nbsp;</p>
                    <div>&nbsp;</div>
                    <div class="protonmail_signature_block">
                    <div class="protonmail_signature_block-user protonmail_signature_block-empty">&nbsp;</div>
                    <div class="protonmail_signature_block-proton">&nbsp;</div>
                    </div>
                    </blockquote>

                <!-- body end -->
        <!-- footer start-->
        
                <div class="col-sm-4">
            
                </div>
              
            
              <div class="container">
                    <div class="row">
                      <div class="col-sm-4">
                        
                      </div>
                      <div class="col-sm-4">
                        <div class="footer1">
                          <div class="card-footer text-muted">
                            <p><a color="blue" href="/privacy">Privacy Policy &nbsp </a>
                              <a href="http://tandc">Terms and Conditions &nbsp </a>
                              <a href="/aboutus">About us &nbsp </a></p>
                            <p><a href="http://www.almondmedia.co.uk/contact-us/">Contact us &nbsp</a>
                              <a href="http://www.almondmedia.co.uk/contact-us/">Advertise</a></p>
                          </div>
                        </div>
                
                      </div>
                      <div class="col-sm-4">
                          <img src="images/AMLogo.png" height="75" width="100">
                      </div>
                    </div>
                  </div>
            <!--footer end  -->
        </body>
        </html>