<script>
var userInfo = <%- JSON.stringify(userInfo) %>;
var userInfoShawCourses = <%- JSON.stringify(userInfo) %>;
var userInfoTradeCourses = <%- JSON.stringify(userInfo) %>;
localStorage.setItem("textvalue", userInfo.towncity)
  localStorage.setItem("textv", "Tesco")


!function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '280892588917611');
  fbq('track', 'PageView');
  fbq('track', 'Lead');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=280892588917611&ev=PageView&noscript=1"
  /></noscript>
</script>
<script>

</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-147951644-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-147951644-1');
  </script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
         <div class="container">
        <div class="row" id='educationPage'>
            <div class="col-md-3 col-xs-12">
                <div class="column">
                    <div class="card" id="card1">
                        <span class="border">
                                <div class="form-check" >
                                        <img src=" https://www.shawacademy.com/images/logo/logo-new.svg" height="70" width="140">
                                        <br>
                                        <br>
                                        <p style='font-size: 12px'><span style='font-weight: bold' >Would you like to take a course to start an exciting new career? </p>
                                        <!-- <p style="font-size:12px">Shaw Academy </p> -->
                                        
                                        <p><input class="form-check-input" type="checkbox" id="coursetickyes" name="courseInterestYes" value="Yes"
                                            onclick="uncheck()" />
                                          <label class="form-check-label" for="gridCheck5"> Yes &nbsp &nbsp &nbsp
                                            <input class="form-check-input"  type="checkbox" id="coursetickno" name="courseInterestNo" value="No"
                                            onclick="uncheckYes()" >
                                            <label class="form-check-label" for="gridCheck6"> No </p>
                                              <div id="courseChoices" style="display:none"> 
                                                <p style="font-size:12px">What is you specific course interest?</p>
                                                <p style="font-size: 12px">
                                                  <br> 
                                                <select class="custom-select" id="specificCourseInterest" name="specificCourseInterest">
                                                    <option value="SelectCourseInterest" id="noChoiceMade">Choose Course</option>
                                                    <option value="Language">Language</option>
                                                    <option value="Photography">Photography </option>
                                                    <option value="Finance">Finance  </option>
                                                    <option value="Marketing">Marketing </option>
                                                    <option value="Design"> Design</option>
                                                    <option value="Health">Health </option>
                                                    <option value="Technology">Technology</option>
                                                    <option value="Beauty ">Beauty </option>
                                                    <option value="Music">Music </option>
                                                    <option value="Business">Business</option>
                                                </select>
                                               <div id="coursemessage">

                                               </div>

                              <div style="font-size: 10px"> <a href="https://www.shawacademy.com/terms/">Terms and Conditions </a></div>
                                <div style="font-size: 10px"> <a href=" https://www.shawacademy.com/privacy/">Privacy Policy  </a></div>
                                            </p>
                                                <br>
                                              </div> 
                                      </div>
                        </span>
                    </div>
                </div>
            </div>
           
            <div class="col-md-3 col-xs-12">
                    <div class="column" id="tradesFormArea">
                        <div class="card" id="card2" >
                            <span class="border">
                            <div class="form-check">
                                    <img src="/images/tradescourseslogo.png" height="70" width="140">
                                    <br>
                                    <br>
                                    <p style='font-size: 12px'><span style='font-weight: bold' >Trades Courses - Looking for a career change?</span></p>
                                    <p style='font-size: 12px'><span style='font-weight: bold' >Want to start your new career as a Fully Approved Skilled Tradesperson and earn over £60k per year?</span></p>
                                    <p style="font-size:12px"><span style='font-weight: bold'>Train to become a plumber, electrician, gas engineer or welder!.</span></p>
                                    
                                    <p style="font-size: 12px">Trades Courses is one of the largest training portals for the Building and Construction Industry having helped to train over 150,000 people.
                                      Courses are from £30 per week..</p>
                
                                      <p style="font-size: 12px">This is not a job application, but a professional course that is paid for by you. This course will take you from a beginner to a qualified tradesperson.</p>
                
                                      <p style="font-size: 12px">Our job ready courses can allaow you to train to become a Plumber, Electrician, Gas Engineer or welder with qualifications from City & Guilds, BPEC & ACS.</p>
 
                                    <p><input class="form-check-input" type="checkbox" id="tradecoursetickyes" name="courseInterestYes" value="Yes"
                                        onclick="uncheck()"/>
                                      <label class="form-check-label" for="gridCheck5"> Yes &nbsp &nbsp &nbsp
                                        <input class="form-check-input" type="checkbox" id="tradecoursetickno" name="courseInterestNo" value="No"
                                          onclick="uncheckYes()">
                                        <label class="form-check-label" for="gridCheck6"> No </p>
                                          <div id="tradecourseChoices" style="display:none"> 
                                            <p style="font-size: 12px">Which course are you interested in? Multiple Choice: 
                                              <br> 
                                              <br>
                                            <select class="custom-select" id="tradespecificCourseInterest" name="tradespecificCourseInterest">
                                                <option value="Electrician">Electrician </option>
                                                <option value="Plumbing">Plumbing </option>
                                                <option value="Gas">Gas </option>
                                                <option value="Welder"> Welder</option>
                                                <option value="All">All </option>
                                            </select>
                                          
                                        </p>
                                            <br>
                               </div> 
                                    <br>
                                    <br>
                                  </div>
                                  </span>
                                  </div>
                    </div>
                </div>

            <div class="col-md-3 col-xs-12">
                <div class="column">
                    <div class="card" id="fbCard">
                        <span class="border">
                                <div class="card-body">
                                        <h3 class="card-title"> Sign up and Join Facebook Group</h3>
                                        <p class="card-text">Help Yourself and Others Find Work! Other people are your best
                                            resource to
                                            finding a new job! Important - Join the group!</p>
                                            <p> Immediately tell the group the job you are looking for and the area you are looking for.</p>
                                        <!-- <a class="btn btn-small btn-solid btn-auto background-dark"
                                            href="https://www.facebook.com/groups/jobgrabba/" target="_blank" rel="noopener"
                                            kjb-settings-id="sections_1585510055419_blocks_1585510055419_1_settings_btn_background_color">
                                            Join Facebook Group
                                        </a> -->
                                    </div>
                            </span>
                </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12" style="display:none" >
                <!-- <div class="column">
                    <div class="card">
             
                    </div> 
                </div> -->
            </div>
        </div>
        <div class='container'>
        <div class='row' id="coursessignupbutton">
            <div class="col-md-12  col-xs-12">
                    <button onclick="sendCoreg()">Sign Up</button>
            </div>  
    </div>
  </div>
 </div>
    </br>
    <style>
    




    </style>


<script>
  function hideCourseInfo(){
              
              document.getElementById("courseChoices").style.display = 'none';
            };


//Show Shaw Academy course options if user ticks yes
            document.getElementById('coursetickyes').addEventListener('click' , displayCourseInfo)
            document.getElementById('coursetickno').addEventListener('click' , hideCourseInfo)
            // document.getElementById('costAwareNo').addEventListener('click' , clickedNotCostAware)

    function displayCourseInfo(){
        if(document.getElementById('coursetickyes').checked){
        document.getElementById("courseChoices").style.display = 'block';
}else{
  document.getElementById('courseOverview').innerHTML = '';
  document.getElementById("courseChoices").style.display = 'none';
}
}


if(document.getElementById('coursetickyes').checked){
    
    function hideIfUnchecked(){
              document.getElementById('courseOverview').innerHTML = '';
              document.getElementById("courseChoices").style.display = 'none';
            }
            function hideCourseInfo(){
              document.getElementById('courseOverview').innerHTML = '';
              document.getElementById("courseChoices").style.display = 'none';
            };

        }

// Show trade course options if user ticks yes 
document.getElementById('tradecoursetickyes').addEventListener('click' , displayTradeCourseInfo)
            document.getElementById('tradecoursetickno').addEventListener('click' , hideTradeCourseInfo)
            //  document.getElementById('tradecostAwareNo').addEventListener('click' , clickedNotCostAware)

    function displayTradeCourseInfo(){

        if(document.getElementById('tradecoursetickyes').checked){
        document.getElementById("tradecourseChoices").style.display = 'block';
}else{
  document.getElementById('tradecourseOverview').innerHTML = '';
  document.getElementById("tradecourseChoices").style.display = 'none';
}
}

function hideTradeCourseInfo(){
             document.getElementById("tradecourseChoices").style.display = 'none';
            };

if(document.getElementById('tradecoursetickyes').checked){
    
    function hideIfUnchecked(){
              document.getElementById('tradecourseOverview').innerHTML = '';
              document.getElementById("tradecourseChoices").style.display = 'none';
            }
            function hideTradeCourseInfo(){
              document.getElementById('tradecourseOverview').innerHTML = '';
              document.getElementById("tradecourseChoices").style.display = 'none';
            };

        }

        document.getElementById('coursetickyes').addEventListener('click' , chooseCourseInterest)
        document.getElementById('specificCourseInterest').addEventListener('change' , chooseCourseInterest)

        function chooseCourseInterest(){
  let noCourseChoice =  document.getElementById('noChoiceMade')
              if(noCourseChoice.selected == true){
                document.getElementById( "specificCourseInterest").style.borderWidth = 3; 
                document.getElementById( "specificCourseInterest").style.borderColor = "red";      
                document.getElementById("coursemessage").innerHTML = `<h5>Please choose your 4 week FREE course interest above  </h5>`;
              //  return false
              }else{
                document.getElementById( "specificCourseInterest").style.borderColor = "grey"; 
                document.getElementById( "specificCourseInterest").style.backgroundColor = "white"
                document.getElementById("coursemessage").innerHTML = ``
              }
}

//Ensure at least one button is checked

    function uncheck(){
  let TradeCourseYes= document.getElementById("tradecoursetickyes");
  if(TradeCourseYes.checked == true){
    var TradeCourseNo = document.getElementById("tradecoursetickno");
    TradeCourseNo.checked = false;
  }

  let shawCourseYes= document.getElementById("coursetickyes");
  if(shawCourseYes.checked == true){
    var shawCourseNo = document.getElementById("coursetickno");
    shawCourseNo.checked = false;
  }

}

function uncheckYes(){
  let TradeCourseNo = document.getElementById("tradecoursetickno");
  if(TradeCourseNo.checked == true){
    TradeCourseYes = document.getElementById("tradecoursetickyes");
    TradeCourseYes.checked = false;
  }
  let shawCourseNo = document.getElementById("coursetickno");
  if(shawCourseNo.checked == true){
    shawCourseYes = document.getElementById("coursetickyes");
    shawCourseYes.checked = false;
  }
}


//  send user coreg details to advertiser with course option if user ticks yes, take to facebook group and jobsearch

function sendCoreg(){
let sendShawlead= document.getElementById("coursetickyes");
let sendShawCourseInterest = document.getElementById('specificCourseInterest').value

if(sendShawlead.checked = true){
userInfoShawCourses.sendShawlead = "Yes";
userInfoShawCourses.specificCourseInterest = sendShawCourseInterest;
userInfoShawCourses.list = 'U6Y763TalmDA6SYIatCfJ90g';
var sendToShawDB = {
method: "POST",
"data": userInfoShawCourses,
url: "https://dealgrabba.online/sendy/subscribe",
"method": "POST",
"headers": {
"Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8",
"Host": "dealgrabba.online",
"Accept-Encoding": "gzip, deflate",
"Connection": "keep-alive",

}

};

$.ajax(sendToShawDB).done(function (response) {
console.log("data sent for Shaw"+response);
});
}

let sendTradelead= document.getElementById("tradecoursetickyes");
let sendTradeCourseInterest = document.getElementById('tradespecificCourseInterest').value;
 

if (sendTradelead.checked=true) {
    dob_year = userInfoTradeCourses.dob_year;
    userInfoTradeCourses.want_to_train_as =sendTradeCourseInterest;
    var olderThan19 = "";
  if( dob_year< 2001){
  olderThan19 = 'yes';
  }else{
  olderThan19 = 'no';
  }
    // send request to other service
    var tradesCourses = {
                  method: 'GET',
                  async: true,
                  crossDomain: true,
                  "data": userInfoTradeCourses,
                  url: 'https://trk.m-t.io/action?mtid=0&mtsubref=4949752840585216',
                  "method": "GET",
                  "headers": {
                    "Accept": "*/*",
                    "Host": "trk.m-t.io",
                    "Accept-Encoding": "gzip, deflate",
                    "Connection": "keep-alive",
                  }
                };
                $.ajax(tradesCourses).done(function (response) {
                  console.log("trades courses response are here:" + JSON.stringify(response));
                });
               
    window.open("https://www.facebook.com/groups/jobgrabba/");
   
    
    location.href="c2version?"
    




}
}









</script>

<!-- sign up row -->



    