body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
.container-fluid{
  background:white;
}

.searching {
  max-width: 600px;
  border-bottom: 5px solid blue;
  background:white;  
}


 .footer{
  bottom: 0%;
  text-align: center;

 
}

 .unsubscribe{
  text-align: center;
  background: white;
  color: blue;
  position: relative;
 }

 table{
   color: black;
 }

 .navmargin{
   margin-bottom: 40px;
  

 }
 .navbar-brand{
  margin-bottom: 1px;

 }

 nav h5{
  width:100%;
  text-align: left;
  position: absolute;
 }

 h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-5 {
  width: 41.66666667%;
}


.apply{
  border-radius: 3px;
  font-size: 11px;
  font-weight: bold;
  line-height: 1.5;
  padding: 3px 12px;
}

.col-xs-12 {
  width: 100%;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
  font-size:12px;
}

.navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: 100;
    margin-bottom: 40px;
}

.jobs{
  margin-bottom: 25px;
}

.paginationArea{
margin-bottom: 30px;
}

.footer1 {
  position: relative;
  bottom:0;
  text-align: center;
    /* Height of the footer */
 
}

#footerwelcomepg{
  position: absolute;
  bottom:0;
  text-align: center;
    /* Height of the footer */
}

#footer1 {
  position: absolute;
  bottom:0;
  text-align: center;
    /* Height of the footer */
}

.form-row{
  width:350;
  
}


.Regform{
  width:300px;
}


button{
background-color: blue;
}




 
#registerButton{
  color:white;
  font-size: 16px;
  line-height: 30px;
    padding: 0 30px;
    border-radius: 40px;
    margin-top: 10;
    margin-inline-start: 10px;
   
  
}

#registerButton1{
  color:white;
  font-size: 10px;
  line-height: 9px;
    padding: 0 20px;
    border-radius: 40px;
    margin-top: 10;
    margin-inline-start: 10px;
   
   
  
}

h5{
 padding: 20px;
}

#NGtitle{
  padding: 0px;
 }



.navbar-light{
  height: 80px;

}

button{
    
    height: 32px;
    line-height: 30px;
    padding: 0 18px;
    border-radius: 40px;
}


button a{
  color:white;
}

#btn1 a{
  color:white;
  }

  .cent{
     margin-left: 200px;
  }

  .card-footer{
   position: relative;
  }

  #flag{
    position:relative;
  }


  #regPageHeader{
    padding: 30px;
    margin-bottom: 30px;
  }

 #regPage h2{
    text-align: center;
  }

  #midcol{
position: relative;

  }

  .brandpromo{
    margin: 170px 20px;
    padding: 10px;
  }

  .brandpromo1{
    margin: 10px 20px;
    padding: 10px;
  }

  .brandpromo2{
    margin: 10px 20px;
    padding: 10px;
  }

  .card{
    height:60px;
  }

#regLogo{
  margin: 2px;
}

#column1{
  margin-top: 10px;
}

#creditIframe{
text-align: center;
 
}

#paginationButtons{
  width:3;
  color: solid white;
}

#pagiId{
  width:10;
}

#registerButton11{
  color:white;
  font-size: 10px;
  line-height: 9px;
    padding: 0 20px;
    border-radius: 40px;
    margin-top: 10;
    margin-inline-start: 10px;
    margin: 6px -137px;
}
#flag1{
  position:right;
  
}

#col1Img{
position: relative;
display: inline-block;
-ms-flex-direction: column;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: #fff;
background-clip: border-box;
border: 1px solid rgba(0,0,0,.125);
border-radius: .25rem;
}

#registerButton12{color:white;
  font-size: 10px;
  line-height: 9px;
    padding: 0 20px;
    border-radius: 40px;
    margin-top: 10;
    margin-inline-start: 10px;
    margin: 6px 140px;
}



#coregInLine{
display: inline;

}

#applyNowButton{
    width: 140px;
    margin: 6px 140px;
    margin-bottom: 20px;

}

#regCTA{
  margin: 5px 10px;
}

#infoCard{

  margin-left: auto;
}

#gridCheck3{

  margin-left: 25px;
}

#gridCheck4{

  margin-left: 25px;
}

